<style>   
    .img-preview {
        /*        float:right;*/
        overflow: hidden;
        height: 100px;
        width: 100px;
        cursor: pointer;
        border: 1px solid #E0E0E0;
        box-shadow: 0px 1px 10px 0px rgba(50, 50, 50, 0.2);
    }
    .tile_img-preview {
        /*        float:right;*/
        overflow: hidden;
        height: 100px;
        width: 100px;
        cursor: pointer;
        border: 1px solid #E0E0E0;
        box-shadow: 0px 1px 10px 0px rgba(50, 50, 50, 0.2);
    }
    .img-responsive {
        /*width: 128px;*/
    }
    #div1 {
        max-height: 400px;
    }
    #tile_div1 {
        max-height: 400px;
    }
    .img_fav_cause {
        margin-right: 5px;
    }
    .image-c-preview {
        height: 100% !important;
        width: 100% !important;
    }
    #div1{
        max-height: 450px;
    }
    .help-block{
        color: #e73d4a; 
    }
</style>
<div class="modal" id="myModal">
    <div class="modal-dialog pull-right">
        <div class="modal-content">
            <div class="modal-body">
                <div id="div1"></div>
            </div>
            <div class="modal-footer">        
                <button type="button" class="btn red" id="cancel_image">Cancel</button>   
                <button type="button" id="done" class="btn btn-primary">Save changes</button>
            </div>
        </div>    
    </div>
</div>
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <a href="javascript:void(0);" translate="products"></a>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            <a href="javascript:void(0);" translate="add_new_product"></a>
            <i class="fa fa-circle"></i>
        </li>
    </ul>
</div>
<div class="row margin-top-20">
    <div class="col-md-12">
        <div class="portlet light portlet-fit portlet-datatable bordered">
            <div class="portlet-title">
                <div class="caption">
                    <span class="caption-subject font-green sbold uppercase" translate="add_new_product"></span>
                </div>
                <div class="actions xs-filter">
                </div>
            </div>
            <div class="portlet-body form">
                <form class="form-horizontal" name="addnew_product" id="addnew_product">
                    <div class="form-body">
                        <div class="form-group">
                            <label class="col-md-3 control-label" translate="product_name"></label>
                            <div class="col-md-5">
                                <input type="text" class="form-control" name="product_name" placeholder="Product name">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label" translate="price"></label>
                            <div class="col-md-5">
                                <input type="text" class="form-control" name="price" placeholder="Price">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label" translate="sheep_type"></label>
                            <div class="col-md-5">
                                <select class="form-control" name="sheep_type_id">
                                <option ng-repeat="x in sheepdetails track by $index" value="[[x.sheep_type_id]]">[[x.sheep_name]]</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label" translate="sheep_size"></label>
                            <div class="col-md-5">
                                <div ng-repeat="y in sheepsizedetails">
                                    <label class="checkbox"><input type="checkbox" name="sheep_size[]" value="[[y.size_id]]">[[y.size_name]]</label>
                                    <input type="text" class="form-control" name="sheep_size_price[]" placeholder="Size price">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label" translate="product_photo"></label>
                            <div class="col-md-5">
                                <div class="form-control-static col-md-3">
                                    <div style="display:none">
                                        <input type="file" name="product_image" id="product_image" style="display:none" data-error-container="#image-error" accept='image/x-png,image/jpeg' />
                                        <input type="hidden" id="x1" name="x1" />
                                        <input type="hidden" id="y1" name="y1" />
                                        <input type="hidden" id="x2" name="x2" />
                                        <input type="hidden" id="y2" name="y2" />
                                        <input type="hidden" id="w" name="w" />
                                        <input type="hidden" id="h" name="h" />                            
                                    </div>
                                    <div class="img-preview" style="height:100px;width:100px;cursor:pointer;" onclick="$('#product_image').click();">
                                        <img src="uploads/product/product_placeholder.png" class="img-responsive user-image">
                                    </div>
                                    <div>
                                        <div id="image-error"></div>
                                    </div>                               
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="form-group" ng-repeat="ht in add_new_product track by $index" id="remove_div_[[$index]]">
                            <div class="col-md-1" style="padding-left: 20px; padding-top: 8px;"><span translate="option"></span> [[$index + 1]]</div>
                            <div class="col-md-3">
                                <input type="text" class="form-control" name="lable[]" placeholder="Option Lable">
                                <br>
                                <a type="" class="btn btn-warning" ng-click="cleartheoptiondiv([[$index]])"  data-optionclearid="[[$index]]" translate="clear"></a>
                                <a type="" class="btn red" ng-click="removeOptionDiv([[$index]])" data-optionclearid="[[$index]]" translate="remove"></a>
                            </div>
                            <div class="col-md-2" id="adddivprice_[[$index]]">
                                 <input type="text" class="form-control" name="lable_price[]" placeholder="Option price">
                            </div>
                            <div class="col-md-3" id="adddivoptions_[[$index]]">
                                <input type="text" class="form-control" name="lable_option[]" placeholder="Enter values for drop down">
                                <input type="hidden" value="[[$index]]" name="option_value_index[]">
                            </div>
                            <div class="col-md-1" id="addclear_[[$index]]">
                                <a href="" class="btn red" style=""><i class="fa fa-close"></i><a>
                            </div>
                            <a type="" class="btn btn-green add_more1" ng-click="addpriceandoptions($index)" data-optionid="[[$index]]" translate="add"></a>
                            <div class="col-md-1">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-5">
                                <a class="btn btn-primary"  ng-click="addNewOptions()" translate="add_more_options"><i class="fa fa-plus"></i></a>    
                            </div>
                        </div>
                        <!--Add more checkbox-->
                        <div class="form-group" ng-repeat="ht in add_new_product_chk track by $index" id="remove_div_chk[[$index]]">
                            <div class="col-md-1" style="padding-left: 20px; padding-top: 8px;"><span translate="option"></span> [[$index + 1]]</div>
                            <div class="col-md-3">
                                <input type="text" class="form-control" name="lablechk[]" placeholder="Option Lable">
                                <br>
                                <a type="" class="btn btn-warning" ng-click="cleartheoptiondivchk([[$index]])"  data-optionclearid="[[$index]]" translate="clear"></a>
                                <a type="" class="btn red" ng-click="removeOptionDivchk([[$index]])" data-optionclearid="[[$index]]" translate="remove"></a>
                            </div>
                            <div class="col-md-2" id="adddivprice_chk[[$index]]">
                                 <input type="text" class="form-control" name="lable_price_chk[]" placeholder="Option price">
                            </div>
                            <div class="col-md-3" id="adddivoptions_chk[[$index]]">
                                <input type="text" class="form-control" name="lable_option_chk[]" placeholder="Enter values for drop down">
                                <input type="hidden" value="[[$index]]" name="option_value_index_chk[]">
                            </div>
                            <div class="col-md-1" id="addclear_chk[[$index]]">
                                <a href="" class="btn red" style=""><i class="fa fa-close"></i><a>
                            </div>
                            <a type="" class="btn btn-green add_more1" ng-click="addpriceandoptions_chk($index)" data-optionid="[[$index]]" translate="add"></a>
                            <div class="col-md-1">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-5">
                                <a class="btn btn-primary"  ng-click="addNewOptionschk()" translate="add_more_checkbox"><i class="fa fa-plus"></i> </a>    
                            </div>
                        </div>
                        <div class="form-actions">
                            <div class="row">
                                <div class="col-md-offset-4">
                                    <button type="submit" class="btn btn-green" translate="add_product"><i class="fa fa-save"></i></button>
                                     <button type="submit" class="btn btn-default" translate="clear"><i class="fa fa-close"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <!-- End: life time stats -->
    </div>
</div>
<!-- END CONTAINER -->
<script>
    $(document).ready(function(){ 
        var original;
        setTimeout(function(){
            original = $(".img-responsive").attr('src');
        }, 1000);
    //Image crope code
    $('#product_image').on('change', function () {
        $('#div1').css('display', 'none');
        $('#done').css('display', 'none');
        $('#theImg').attr('src', '');
        $(".img-preview > img").attr('src', original);
        $(".img-preview > img").css('height', '100px');
        $(".img-preview > img").css('width', '100px');
        $(".img-preview > img").css('margin-left', '0px');
        $(".img-preview > img").css('margin-top', '0px');
        $(".img-preview > img").css('background-color', 'white');
        var input = $(this)[0];
        var file = input.files[0];
        var reader = new FileReader();
        reader.onload = function (e)
        {
            $('#myModal').modal('show');
            $("#theImg").remove();
            $(".cropper-container").remove();
            $('#div1').append('<img id="theImg" src="' + e.target.result + '" class="cropper" />');
            img = document.getElementById('theImg');
            var width = img.clientWidth;
            var height = img.clientHeight;
            $('.img-preview').css('display', 'block');
            $('#div1').css('display', 'block');
            $('#done').css('display', 'inline');
            $(".cropper").cropper({
                aspectRatio: 1 / 1,
                scrict: true,
                preview: ".img-preview",
                crop: function (data) {
                    $("#x1").val(data.x);
                    $("#x2").val(data.x);
                    $("#y1").val(data.y);
                    $("#y2").val(data.y);
                    $("#h").val(data.height);
                    $("#w").val(data.width);
                },
                built: function () {
                    $('.cropper').cropper('setCropBoxData', {
                        width: 200,
                        height: 200
                    });
                }
            });
        }
        reader.readAsDataURL(file);
    });
    $('#done').click(function () {
        $('#myModal').modal('hide');
    });

    $('#cancel_image').on('click', function () {
        $('#coursecategory').val('');
        $(".img-preview > img").attr('src', original);
        $(".img-preview > img").css('height', '100px');
        $(".img-preview > img").css('width', '100px');
        $(".img-preview > img").css('margin', '0px');
        $(".img-preview > img").css('background-color', 'white');
        $('#edit_thumb').css('display', 'none');
        $('#myModal').modal('hide');
    });
    // End image crope code

    //Update Image,Name,Email
    var AdminProfileForm = $('#addnew_product');
        var error2 = $('.alert-danger', AdminProfileForm);
        var success2 = $('.alert-success', AdminProfileForm);
        AdminProfileForm.validate({
            errorElement: 'span', //default input error message container
            errorClass: 'help-block help-block-error', // default input error message class
            focusInvalid: false, // do not focus the last invalid input
            ignore: "", // validate all fields including form hidden input
            rules: {
                product_name: {
                    required: true
                },
                price:{
                    required : true
                },
                quantity:{
                    required : true
                },
                product_image:{
                    accept: "image/jpg,image/jpeg,image/png"
                }
            },
            messages: {
                product_name: {
                    required: "Product name required."
                },
                price:{
                    required: "Price required."
                },
                quantity:{
                    required : "Quantity required."
                },
                product_image:{
                    accept: "Only jpg,jpeg,png allowed."
                }
            },
            invalidHandler: function(event, validator) { //display error alert on form submit              
                success2.hide();
                error2.show();
                //App.scrollTo(error2, -200);
            },
            errorPlacement: function (from, error) { // render error placement for each input type
                error.parent(".input-group").size() > 0 ? from.insertAfter(error.parent(".input-group")) : error.attr("data-error-container") ? from.appendTo(error.attr("data-error-container")) : error.parents(".radio-list").size() > 0 ? from.appendTo(error.parents(".radio-list").attr("data-error-container")) : error.parents(".radio-inline").size() > 0 ? from.appendTo(error.parents(".radio-inline").attr("data-error-container")) : error.parents(".checkbox-list").size() > 0 ? from.appendTo(error.parents(".checkbox-list").attr("data-error-container")) : error.parents(".checkbox-inline").size() > 0 ? from.appendTo(error.parents(".checkbox-inline").attr("data-error-container")) : from.insertAfter(error)
            },
            highlight: function(element) { // hightlight error inputs
                $(element).closest('.form-group > div').removeClass("has-success").addClass('has-error'); // set error class to the control group   
            },
            submitHandler: function(form) {
                success2.show();
                error2.hide();
                //Submit data with ajax
                var formData = new FormData($("#addnew_product")[0]);
                $.ajax({
                    type: "POST",
                    url: 'products/addproduct',
                    contentType: false,
                    processData: false,
                    data: formData,
               }).done(function(data){
                    if(data.success){
                        toastr.success(data.message, 'Success');
                          
                        setTimeout(function(){
                               window.location = 'manage/products'; 
                        }, 2000);
                       // $('#addnew_product')[0].reset();
                        //$('.user-image').attr('src', '');
                    }else{
                        toastr.error(data.message, 'Error');
                        return false;
                    }
              });
            //submit data with ajax end
            }
        });
    //Update Image,Name,Email end
        
    // To add dynamic options for the product.
        
    $(document).on('click', '.add_more', function(e){
         e.preventDefault();
        
         var option_id = $(this).data('optionid');
         var optionValues = $('#option_'+ option_id).val();
      
         $('.optionsul'+ option_id).append('<li>' + optionValues + '</li>');
         $('#option_'+ option_id).val(' ');
        
    });
    
    // To clear the div  
    $(document).on('click', '.add_clear', function(e){
        
        e.preventDefault();
        var option_id = $(this).data('optionclearid');
        $('.optionsul'+ option_id).html(' ');
        $('#option_'+ option_id).val(' ');
    
    });
        
    // To remove the option
    $(document).on('click', '.add_remove', function(e){
       
        e.preventDefault();
        var option_id = $(this).data('optionclearid');
        $('#remove_div_' + option_id).remove();
        
    });
        
        
});
</script>