<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <a href="Users.html" translate="bank_list"></a>
            <i class="fa fa-university"></i>
        </li>
    </ul>
</div>

<div class="row">
  
        <div class="portlet light bordered dash-major-Details margin-top-20">
            <div class="portlet-title">
                <div class="caption">
                    <span class="caption-subject font-green bold uppercase" translate="add_new_bank"></span>
                </div>
                <div class="actions"></div>
            </div>
            <div class="row form">
                <form class="form-horizontal" name="addnew_product" id="addnew_product" >
                        <div class="form-body">
                                    <div class="form-group">
                                        <label class="col-md-3 control-label" translate="bank_name"></label>
                                        <div class="col-md-5">
                                            <input type="text" class="form-control" name="bank_name" id="bank_name" placeholder="Bank Name">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-3 control-label" translate="account_number"> </label>
                                        <div class="col-md-5">
                                            <input type="text" class="form-control" name="acc_num" id="acc_num" placeholder="Account Number">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-3 control-label" translate="bank_logo">Bank Logo</label>
                                        <div class="col-md-5">
                                            <div class="form-control-static col-md-3">
                                                <div style="display:none">
                                                    <input type="file" name="bank_logo" id="bank_logo" style="display:none" data-error-container="#image-error" accept='image/x-png,image/jpeg' />
                                                                              
                                                </div>
                                                <div class="img-preview" style="height:100px;width:100px;cursor:pointer;" onclick="$('#bank_logo').click();">
                                                    <img src="uploads/product/product_placeholder.png" class="img-responsive user-image">
                                                </div>
                                                <div>
                                                    <div id="image-error"></div>
                                                </div>                               
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-actions">
                                    <div class="row">
                                        <div class="col-md-offset-4">
                                            <button type="submit" class="btn btn-green" translate="add_bank"><i class="fa fa-save"></i> Add Bank</button>
                                             <button type="submit" class="btn btn-default" translate="clear"><i class="fa fa-close"></i></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
            </div>
            
            <hr>
            <div class="portlet-title">
                <div class="caption">
                    <span class="caption-subject font-green bold uppercase" translate="bank_list">Bank List</span>
                </div>
                <div class="actions"></div>
            </div>
              <div class="table-container">
                    <div id="datatable_orders_wrapper" class="dataTables_wrapper dataTables_extended_wrapper no-footer">
                        <div class="table-scrollable margin-top-20" >
                                <table class="table table-striped table-bordered table-hover" id="user_list">
                                    <thead>
                                        <tr>
                                            <th translate="id">id</th>
                                            <th translate="bank_logo">Bank Logo</th>
                                            <th translate="bank_name">Bank Name</th>
                                            <th translate="bank_account_number">Bank Account Number</th>
                                            <th translate="action">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>

                                    </tbody>
                                </table>
                            </div>
                  </div>
            </div>          
        </div>
</div>
<script src='assets/lib/datatables/datatable.min.js'></script>
<script src='assets/lib/datatables/plugins/bootstrap/datatables.bootstrap.js'></script>
<script type="text/javascript">
$(document).ready(function(){
    
      setTimeout(function(){
            original = $(".img-responsive").attr('src');
        }, 1000);
    
    //Image crope code
    $('#bank_logo').on('change', function () {
        
         $('#theImg').attr('src', '');
      
        $(".img-preview > img").attr('src', original);
        $(".img-preview > img").css('height', '100px');
        $(".img-preview > img").css('width', '100px');
        $(".img-preview > img").css('margin-left', '0px');
        $(".img-preview > img").css('margin-top', '0px');
        $(".img-preview > img").css('background-color', 'white');
        var input = $(this)[0];
        var file = input.files[0]; console.log(file);
        var reader = new FileReader();
        reader.onload = function (e)
        {
            
            
            $(".user-image").attr('src',  e.target.result);
            console.log( e.target.result);
//            img = document.getElementById('theImg');
//            //$('#div1').append('<img id="theImg" src="' + e.target.result + '" class="cropper" />');
//            img = document.getElementById('theImg');
//            var width = img.clientWidth;
//            var height = img.clientHeight;
            $('.img-preview').css('display', 'block');
        }
        reader.readAsDataURL(file);
    });
    
    //Update Image,Name,Email
    var AdminProfileForm = $('#addnew_product');
        var error2 = $('.alert-danger', AdminProfileForm);
        var success2 = $('.alert-success', AdminProfileForm);
        AdminProfileForm.validate({
            errorElement: 'span', //default input error message container
            errorClass: 'help-block help-block-error', // default input error message class
            focusInvalid: false, // do not focus the last invalid input
            ignore: "", // validate all fields including form hidden input
            rules: {
                bank_name: {
                    required: true
                },
                acc_num:{
                    required : true
                },
                bank_logo:{
                    accept: "image/jpg,image/jpeg,image/png"
                }
            },
            messages: {
                bank_name: {
                    required: "Product name required."
                },
                acc_num:{
                    required: "Price required."
                },
                bank_logo:{
                    accept: "Only jpg,jpeg,png allowed."
                }
            },
            invalidHandler: function(event, validator) { //display error alert on form submit              
                success2.hide();
                error2.show();
                //App.scrollTo(error2, -200);
            },
            errorPlacement: function (from, error) { // render error placement for each input type
                error.parent(".input-group").size() > 0 ? from.insertAfter(error.parent(".input-group")) : error.attr("data-error-container") ? from.appendTo(error.attr("data-error-container")) : error.parents(".radio-list").size() > 0 ? from.appendTo(error.parents(".radio-list").attr("data-error-container")) : error.parents(".radio-inline").size() > 0 ? from.appendTo(error.parents(".radio-inline").attr("data-error-container")) : error.parents(".checkbox-list").size() > 0 ? from.appendTo(error.parents(".checkbox-list").attr("data-error-container")) : error.parents(".checkbox-inline").size() > 0 ? from.appendTo(error.parents(".checkbox-inline").attr("data-error-container")) : from.insertAfter(error)
            },
            highlight: function(element) { // hightlight error inputs
                $(element).closest('.form-group > div').removeClass("has-success").addClass('has-error'); // set error class to the control group   
            },
            submitHandler: function(form) {
                success2.show();
                error2.hide();
                //Submit data with ajax
                var formData = new FormData($("#addnew_product")[0]);
                $.ajax({
                    type: "POST",
                    url: 'bank/addnewbank',
                    contentType: false,
                    processData: false,
                    data: formData,
               }).done(function(data){
                    if(data.success){
                        toastr.success(data.message, 'Success');
                        $('#addnew_product')[0].reset();
                        $('.user-image').attr('src', '');
                    }else{
                        toastr.error(data.message, 'Error');
                        return false;
                    }
              });
            //submit data with ajax end
            }
        });
    
    
    
            var table = $('#user_list');

            // begin first table
            var userList_table = $('#user_list').dataTable({
                // Internationalisation. For more info refer to http://datatables.net/manual/i18n
                "processing": false,
                "serverSide": true,
                'bAutoWidth': false,
                "ajax": {
                    'type': 'POST',
                    'url': base_url+"bank/allbankslist",
                    'data': function(params){
                        params.roles_ids = $("#role_users").val();
                    }

                },
                "language": {
                    "aria": {
                        "sortAscending": ": activate to sort column ascending",
                        "sortDescending": ": activate to sort column descending"
                    },
                    "emptyTable": "No record (s) available.",
                    "info": "Found _START_ to _END_ of _TOTAL_ records",
                    "infoEmpty": "No records found",
                    "infoFiltered": "(filtered1 from _MAX_ total records)",
                    "lengthMenu": "View _MENU_ records",
                    "search": "Search:",
                    "zeroRecords": "No matching records found",
                    "paginate": {
                        "previous":"Prev",
                        "next": "Next",
                        "last": "Last",
                        "first": "First"
                    }
                },    
                "dom": "<'row'<'col-md-6 col-sm-12'><'col-md-6 col-sm-12'>r>t<'row'<'col-md-3 col-sm-12'l><'col-md-4 col-sm-12'i><'col-md-5 col-sm-12 text-right'p>>",
                "bStateSave": false, // save datatable state(pagination, sort, etc) in cookie.
                "columns": [
                {"data": "id","name":"order_id"},                                      
                {"data": "imag_logo","name":"product_name","searchable": true},
                {"data": "name", "name":"sheep_type"},
                {"data": "number","name":"product_size"},
                {"data": "edit_product","name":"view_order", "orderable": false, "searchable": false},
                ],    
                ordering: true,
                "lengthMenu": [
                [10, 30, 50, -1],
                    [10, 30, 50, "All"] // change per page values here
                    ],
                // set the initial value
                "pageLength": 10,            
                "pagingType": "bootstrap_full_number"
            });

//            $("#role_users").change(function(){
//                oTable.search($(this).val()).draw();
//            });
//
//            var oTable = $('#user_list').DataTable();
//            // for searching from front user table.
//            $('#users_search').keyup(function(){
//             oTable.search( $(this).val() ).draw();
//         });
    
          $(document).on('click', '.sheep_size_delete', function(e){
                    
                    e.preventDefault();
                    var bank_id = $(this).data('id');
                    var t = $(this);
              
                    $.ajax({
                        type: "POST",
                        url: 'bank/deletebank?bank_id='+bank_id+'',
                        contentType: false,
                        processData: false,
                        data:{},
                   }).done(function(data){
                        if(data.success){
                             toastr.success(data.message, 'Success');
                             t.closest('tr').fadeOut("slow");
                        }else{
                            toastr.error(data.message, 'Error');
                            return false;
                        }
                  });
                
            });


});
</script>
