<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <a href="Users.html" translate="general_setting"></a>
            <i class="fa fa-circle"></i>
        </li>
    </ul>
</div>

<div class="row">
    <div class="col-sm-6">
        <div class="portlet light bordered dash-major-Details margin-top-20">
            <div class="portlet-title">
                <div class="caption">
                    <span class="caption-subject font-green bold uppercase" translate="sheep_size_detail"></span>
                </div>
                <div class="actions"></div>
            </div>
            <div class="row">
                <form enctype="multipart/form-data" class="form-horizontal member-details-form addform1" id="SheepSizeForm" method="post" action="#">
                    <div class="col-sm-9">
                        <div class="form-body">
                            <div class="form-group ">
                                <label class="col-md-4 control-label" translate="sheep_size"> :</label>
                                <div class="col-md-8">
                                    <input type="text" class="form-control" name="size_name" placeholder="Sheep size">
                                </div>
                            </div>
                        </div>
                        <div class="form-actions">
                            <div class="row">
                                <div class="col-md-offset-5 col-sm-2">
                                    <button type="submit" class="btn btn-green" translate="save"><i class="fa fa-save"></i> Save</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="row">
                                                <div class="col-sm-12">
                                                    <div class="table-container">

                                                    <div id="datatable_orders_wrapper" class="dataTables_wrapper dataTables_extended_wrapper no-footer">

                                                        <div class="row">

                                                            <div class="col-md-6 col-sm-6 col-xs-12">


                                                            </div>

                                                        </div>

                                                     <div class="table-scrollable margin-top-20" >

                                                            <table class="table table-striped table-bordered table-hover" id="user_list1">

                                                                <thead>

                                                                    <tr>

                                                                        <th translate="id"></th>
                                                                        <th translate="ship_size"></th>
                                                                        <th translate="action"></th>

                                                                    </tr>

                                                                </thead>

                                                                <tbody>
                                                                </tbody>
                                                            </table>
                                                        </div>

                                                    </div>

                                                </div>
                                                </div>
                                            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="portlet light bordered dash-major-Details margin-top-20">
            <div class="portlet-title">
                <div class="caption">
                    <span class="caption-subject font-green bold uppercase" translate="sheep_type_detail"></span>
                </div>
                <div class="actions">
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <form action="#" method="post" class="form-horizontal member-details-form" id="SheepTypeDetail">
                        <div class="form-body">
                            <div class="form-group">
                                <label class="col-md-3 control-label" translate="sheep_type"></label>
                                <div class="col-md-7">
                                    <input type="text" class="form-control" placeholder="Enter sheep type" name="sheep_type">
                                </div>
                            </div>
                        </div>
                        <div class="form-actions">
                            <div class="row">
                                <div class="col-md-offset-5 col-sm-2">
                                    <button type="submit" class="btn btn-green" translate="save"><i class="fa fa-save"></i> Save</button>
                                </div>
                            </div>                       
                        </div>
                    </form>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="table-container">

                    <div id="datatable_orders_wrapper" class="dataTables_wrapper dataTables_extended_wrapper no-footer">

                        <div class="row">

                            <div class="col-md-6 col-sm-6 col-xs-12">

                               
                            </div>

                        </div>

                     <div class="table-scrollable margin-top-20" >

                            <table class="table table-striped table-bordered table-hover" id="user_list">

                                <thead>

                                    <tr>

                                        <th translate="id"></th>
                                        <th translate="ship_type"></th>
                                        <th translate="action"></th>
                                        
                                    </tr>

                                </thead>

                                <tbody>
                                </tbody>
                            </table>
                        </div>

                    </div>

                </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="portlet light bordered dash-major-Details margin-top-20">
            <div class="portlet-title">
                <div class="caption">
                    <span class="caption-subject font-green bold uppercase" translate="inq_num"></span>
                </div>
                <div class="actions">
                </div>
            </div>
            <div class="row">
                    <div class="col-sm-12">
                        <form action="#" method="post" class="form-horizontal member-details-form" id="inq_num" name="inq_num">
                            <div class="form-body">
                                <div class="form-group">
                                    <label class="col-md-2 control-label" translate="inq_num"></label>
                                    <div class="col-md-5">
                                        <input type="text" class="form-control" name="phone_num" id="phone_num" value="[[contact_number]]">
                                    </div>
                                </div>
                            </div>
                            <div class="form-actions">
                                <div class="row">
                                    <div class="col-md-offset-4 col-sm-2">
                                        <button type="submit" class="btn btn-green" translate="save"><i class="fa fa-save"></i> Save</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                </div>
            </div>
        </div>
    <div class="col-sm-12">
        <div class="portlet light bordered dash-major-Details margin-top-20">
            <div class="portlet-title">
                <div class="caption">
                    <span class="caption-subject font-green bold uppercase" translate="content_detail"></span>
                </div>
                <div class="actions">
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <form action="#" method="post" class="form-horizontal member-details-form" id="textDetail">
                        <div class="form-body">
                            <div class="form-group">
                                <label class="col-md-2 control-label" translate="about_us"></label>
                                <div class="col-md-9">
                                    <input type="hidden" name="content_id" value="[[textdata.content_id]]">
                                    <textarea class="form-control" name="about_us" rows="5">[[textdata.about_us]]</textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 control-label" translate="our_vision"></label>
                                <div class="col-md-9">
                                    <textarea class="form-control" name="our_vision" rows="5">[[textdata.our_vision]]</textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 control-label" translate="privacy_policy"></label>
                                <div class="col-md-9">
                                    <textarea class="form-control" name="privacy_policy" rows="5">[[textdata.privacy_policy]]</textarea>
                                </div>
                            </div>
                        </div>
                        <div class="form-actions">
                            <div class="row">
                                <div class="col-md-offset-5 col-sm-2">
                                    <button type="submit" class="btn btn-green" translate="save"><i class="fa fa-save"></i> Save</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    
</div>
<!-- Modal -->
        <div id="myModal" class="modal"  tabindex="-1"  role="dialog" data-backdrop="static" data-keyboard="false">
          <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close close_size_modal" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Modal Header</h4>
              </div>
              <div class="modal-body">
                   <div class="form-group">
                                <label class="col-md-3 control-label" translate="sheep_size"> :</label>
                                <div class="col-md-5">
                                    <input type="text" class="form-control" name="size_name_modal" id="size_name_modal" placeholder="Sheep size">
                                    <input type="hidden" class="form-control" name="size_id_modal" id="size_id_modal" placeholder="Sheep size">
                                </div>
                    </div>
              </div>
              <div class="modal-footer" style="    margin-top: 30px;">
                  <button type="button" class="btn btn-green modal_update_size" data-dismiss="modal">Update</button>
                <button type="button" class="btn btn-default close_size_modal" data-dismiss="modal">Close</button>
              </div>
            </div>

          </div>
        </div>

<!-- Modal -->
        <div id="myModal2" class="modal"  tabindex="-1"  role="dialog" data-backdrop="static" data-keyboard="false">
          <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close close_size_modal" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Modal Header</h4>
              </div>
              <div class="modal-body">
                   <div class="form-group">
                                <label class="col-md-3 control-label" translate="sheep_type"> :</label>
                                <div class="col-md-5">
                                    <input type="text" class="form-control" name="type_name_modal" id="type_name_modal" placeholder="Sheep Type">
                                    <input type="hidden" class="form-control" name="type_id_modal" id="type_id_modal" placeholder="Sheep size">
                                </div>
                    </div>
              </div>
              <div class="modal-footer" style="    margin-top: 30px;">
                  <button type="button" class="btn btn-green modal_update_type" data-dismiss="modal">Update</button>
                <button type="button" class="btn btn-default close_type_modal" data-dismiss="modal">Close</button>
              </div>
            </div>

          </div>
        </div>
<script>
$(document).ready(function () {
    
    
     //Change password validation and ajax update
    var InqNumberForm = $('#inq_num');
        var error2 = $('.alert-danger', ChangePasswordForm);
        var success2 = $('.alert-success', ChangePasswordForm);
        InqNumberForm.validate({
            errorElement: 'span', //default input error message container
            errorClass: 'help-block help-block-error', // default input error message class
            focusInvalid: false, // do not focus the last invalid input
            ignore: "", // validate all fields including form hidden input
            rules: {
                phone_num: {
                    required: true
                }
            },
            messages: {
                phone_num: {
                    required: "Contact Number required."
                }
            },
            invalidHandler: function(event, validator) { //display error alert on form submit              
                success2.hide();
                error2.show();
                //App.scrollTo(error2, -200);
            },
            errorPlacement: function (from, error) { // render error placement for each input type
                error.parent(".input-group").size() > 0 ? from.insertAfter(error.parent(".input-group")) : error.attr("data-error-container") ? from.appendTo(error.attr("data-error-container")) : error.parents(".radio-list").size() > 0 ? from.appendTo(error.parents(".radio-list").attr("data-error-container")) : error.parents(".radio-inline").size() > 0 ? from.appendTo(error.parents(".radio-inline").attr("data-error-container")) : error.parents(".checkbox-list").size() > 0 ? from.appendTo(error.parents(".checkbox-list").attr("data-error-container")) : error.parents(".checkbox-inline").size() > 0 ? from.appendTo(error.parents(".checkbox-inline").attr("data-error-container")) : from.insertAfter(error)
            },
            highlight: function(element) { // hightlight error inputs
                $(element).closest('.form-group > div').removeClass("has-success").addClass('has-error'); // set error class to the control group   
            },
            submitHandler: function(form) {
                success2.show();
                error2.hide();
                //Submit data with ajax
                var formData = new FormData($("#inq_num")[0]);
                $.ajax({
                    type: "POST",
                    url: 'setting/updatecontact',
                    contentType: false,
                    processData: false,
                    data: formData,
               }).done(function(data){
                    if(data.success){
                        //$('#inq_num')[0].reset();
                        toastr.success(data.message, 'Success');
                    }else{
                        toastr.error(data.message, 'Error');
                        return false;
                    }
              });
            //submit data with ajax end
            }
        });
    
    //Update Image,Name,Email
    var AdminProfileForm = $('#SheepSizeForm');
        var error2 = $('.alert-danger', AdminProfileForm);
        var success2 = $('.alert-success', AdminProfileForm);
        AdminProfileForm.validate({
            errorElement: 'span', //default input error message container
            errorClass: 'help-block help-block-error', // default input error message class
            focusInvalid: false, // do not focus the last invalid input
            ignore: "", // validate all fields including form hidden input
            rules: {
                size_name: {
                    required: true
                }
            },
            messages: {
                size_name: {
                    required: "Size required."
                }
            },
            invalidHandler: function(event, validator) { //display error alert on form submit              
                success2.hide();
                error2.show();
                //App.scrollTo(error2, -200);
            },
            errorPlacement: function (from, error) { // render error placement for each input type
                error.parent(".input-group").size() > 0 ? from.insertAfter(error.parent(".input-group")) : error.attr("data-error-container") ? from.appendTo(error.attr("data-error-container")) : error.parents(".radio-list").size() > 0 ? from.appendTo(error.parents(".radio-list").attr("data-error-container")) : error.parents(".radio-inline").size() > 0 ? from.appendTo(error.parents(".radio-inline").attr("data-error-container")) : error.parents(".checkbox-list").size() > 0 ? from.appendTo(error.parents(".checkbox-list").attr("data-error-container")) : error.parents(".checkbox-inline").size() > 0 ? from.appendTo(error.parents(".checkbox-inline").attr("data-error-container")) : from.insertAfter(error)
            },
            highlight: function(element) { // hightlight error inputs
                $(element).closest('.form-group > div').removeClass("has-success").addClass('has-error'); // set error class to the control group   
            },
            submitHandler: function(form) {
                success2.show();
                error2.hide();
                //Submit data with ajax
                var formData = new FormData($("#SheepSizeForm")[0]);
                $.ajax({
                    type: "POST",
                    url: 'setting/addsheepsize',
                    contentType: false,
                    processData: false,
                    data: formData,
               }).done(function(data){
                    if(data.success){
                        toastr.success(data.message, 'Success');
                    }else{
                        toastr.error(data.message, 'Error');
                        return false;
                    }
              });
            //submit data with ajax end
            }
        });
    //Update Image,Name,Email end
    
    //Change password validation and ajax update
    var ChangePasswordForm = $('#SheepTypeDetail');
        var error2 = $('.alert-danger', ChangePasswordForm);
        var success2 = $('.alert-success', ChangePasswordForm);
        ChangePasswordForm.validate({
            errorElement: 'span', //default input error message container
            errorClass: 'help-block help-block-error', // default input error message class
            focusInvalid: false, // do not focus the last invalid input
            ignore: "", // validate all fields including form hidden input
            rules: {
                sheep_type: {
                    required: true
                }
            },
            messages: {
                sheep_type: {
                    required: "Sheep type required."
                }
            },
            invalidHandler: function(event, validator) { //display error alert on form submit              
                success2.hide();
                error2.show();
                //App.scrollTo(error2, -200);
            },
            errorPlacement: function (from, error) { // render error placement for each input type
                error.parent(".input-group").size() > 0 ? from.insertAfter(error.parent(".input-group")) : error.attr("data-error-container") ? from.appendTo(error.attr("data-error-container")) : error.parents(".radio-list").size() > 0 ? from.appendTo(error.parents(".radio-list").attr("data-error-container")) : error.parents(".radio-inline").size() > 0 ? from.appendTo(error.parents(".radio-inline").attr("data-error-container")) : error.parents(".checkbox-list").size() > 0 ? from.appendTo(error.parents(".checkbox-list").attr("data-error-container")) : error.parents(".checkbox-inline").size() > 0 ? from.appendTo(error.parents(".checkbox-inline").attr("data-error-container")) : from.insertAfter(error)
            },
            highlight: function(element) { // hightlight error inputs
                $(element).closest('.form-group > div').removeClass("has-success").addClass('has-error'); // set error class to the control group   
            },
            submitHandler: function(form) {
                success2.show();
                error2.hide();
                //Submit data with ajax
                var formData = new FormData($("#SheepTypeDetail")[0]);
                $.ajax({
                    type: "POST",
                    url: 'setting/addsheeptype',
                    contentType: false,
                    processData: false,
                    data: formData,
               }).done(function(data){
                    if(data.success){
                        $('#SheepTypeDetail')[0].reset();
                        toastr.success(data.message, 'Success');
                    }else{
                        toastr.error(data.message, 'Error');
                        return false;
                    }
              });
            //submit data with ajax end
            }
        });
    //Change password validation and ajax update end

    //About us and our vision
    var textDetail = $('#textDetail');
        var error2 = $('.alert-danger', textDetail);
        var success2 = $('.alert-success', textDetail);
        textDetail.validate({
            errorElement: 'span', //default input error message container
            errorClass: 'help-block help-block-error', // default input error message class
            focusInvalid: false, // do not focus the last invalid input
            ignore: "", // validate all fields including form hidden input
            rules: {
                about_us: {
                    required: true
                },
                our_vision: {
                    required: true
                },
                privacy_policy:{
                    required: true
                },
            },
            messages: {
                about_us: {
                    required: "About us required."
                },
                our_vision: {
                    required: "Our vision detail required."
                },
                privacy_policy:{
                    required: "Privacy policy detail required."
                },
            },
            invalidHandler: function(event, validator) { //display error alert on form submit              
                success2.hide();
                error2.show();
                //App.scrollTo(error2, -200);
            },
            errorPlacement: function (from, error) { // render error placement for each input type
                error.parent(".input-group").size() > 0 ? from.insertAfter(error.parent(".input-group")) : error.attr("data-error-container") ? from.appendTo(error.attr("data-error-container")) : error.parents(".radio-list").size() > 0 ? from.appendTo(error.parents(".radio-list").attr("data-error-container")) : error.parents(".radio-inline").size() > 0 ? from.appendTo(error.parents(".radio-inline").attr("data-error-container")) : error.parents(".checkbox-list").size() > 0 ? from.appendTo(error.parents(".checkbox-list").attr("data-error-container")) : error.parents(".checkbox-inline").size() > 0 ? from.appendTo(error.parents(".checkbox-inline").attr("data-error-container")) : from.insertAfter(error)
            },
            highlight: function(element) { // hightlight error inputs
                $(element).closest('.form-group > div').removeClass("has-success").addClass('has-error'); // set error class to the control group   
            },
            submitHandler: function(form) {
                success2.show();
                error2.hide();
                //Submit data with ajax
                var formData = new FormData($("#textDetail")[0]);
                $.ajax({
                    type: "POST",
                    url: 'setting/updatetext',
                    contentType: false,
                    processData: false,
                    data: formData,
               }).done(function(data){
                    if(data.success){
                        toastr.success(data.message, 'Success');
                    }else{
                        toastr.error(data.message, 'Error');
                        return false;
                    }
              });
            //submit data with ajax end
            }
        });
    //Change password validation and ajax update end
    
    
    var table = $('#user_list');
    // begin first table

    var userList_table = $('#user_list').dataTable({

                // Internationalisation. For more info refer to http://datatables.net/manual/i18n

                "processing": false,

                "serverSide": true,

                'bAutoWidth': true,

                "ajax": {

                    'type': 'POST',

                    'url': base_url+"setting/sheeptypelist",

                    'data': function(params){

                        params.roles_ids = $("#role_users").val();

                    }
                },

                "language": {

                    "aria": {

                        "sortAscending": ": activate to sort column ascending",

                        "sortDescending": ": activate to sort column descending"

                    },

                    "emptyTable": "No record (s) available.",

                    "info": "Found _START_ to _END_ of _TOTAL_ records",

                    "infoEmpty": "No records found",

                    "infoFiltered": "(filtered1 from _MAX_ total records)",

                    "lengthMenu": "View _MENU_ records",

                    "search": "Search:",

                    "zeroRecords": "No matching records found",

                    "paginate": {

                        "previous":"Prev",

                        "next": "Next",

                        "last": "Last",

                        "first": "First"

                    }

                },    

                "dom": "<'row'<'col-md-6 col-sm-12'><'col-md-6 col-sm-12'>r>t<'row'<'col-md-3 col-sm-12'l><'col-md-4 col-sm-12'i><'col-md-5 col-sm-12 text-right'p>>",

                "bStateSave": false, // save datatable state(pagination, sort, etc) in cookie.

                "columns": [
                    {"data": "sheep_type_id","name":"id"},                                      
                    {"data": "sheep_name","name":"sheep_name","searchable": true},
                     {"data": "action","name":"action","searchable": true}
                ],    

                ordering: true,
                "bInfo" : false,
                "lengthMenu": [

                    [10, 30, 50, -1],

                    [10, 30, 50, "All"] // change per page values here

                    ],

                "pageLength": 10,            

                //"pagingType": "bootstrap_full_number"

            });
    
    var table1 = $('#user_list1');
    // begin first table

    var userList_table = $('#user_list1').dataTable({

                // Internationalisation. For more info refer to http://datatables.net/manual/i18n

                "processing": false,

                "serverSide": true,

                'bAutoWidth': true,

                "ajax": {

                    'type': 'POST',

                    'url': base_url+"setting/sheepsizelist",

                    'data': function(params){

                        params.roles_ids = $("#role_users").val();

                    }
                },

                "language": {

                    "aria": {

                        "sortAscending": ": activate to sort column ascending",

                        "sortDescending": ": activate to sort column descending"

                    },

                    "emptyTable": "No record (s) available.",

                    "info": "Found _START_ to _END_ of _TOTAL_ records",

                    "infoEmpty": "No records found",

                    "infoFiltered": "(filtered1 from _MAX_ total records)",

                    "lengthMenu": "View _MENU_ records",

                    "search": "Search:",

                    "zeroRecords": "No matching records found",

                    "paginate": {

                        "previous":"Prev",

                        "next": "Next",

                        "last": "Last",

                        "first": "First"

                    }

                },    

                "dom": "<'row'<'col-md-6 col-sm-12'><'col-md-6 col-sm-12'>r>t<'row'<'col-md-3 col-sm-12'l><'col-md-4 col-sm-12'i><'col-md-5 col-sm-12 text-right'p>>",

                "bStateSave": false, // save datatable state(pagination, sort, etc) in cookie.

                "columns": [
                    {"data": "size_id","name":"size_id"},                                     
                    {"data": "size_name","name":"size_name","searchable": true},
                     {"data": "action","name":"action","searchable": true}
                ],    

                ordering: true,
                "bInfo" : false,
                "lengthMenu": [

                    [10, 30, 50, -1],

                    [10, 30, 50, "All"] // change per page values here

                    ],

                "pageLength": 10,            

                //"pagingType": "bootstrap_full_number"

            });
    
    $(document).on('click', '.close_size_modal', function(){
        
         $("#myModal").hide();
        
    });
    
    $(document).on('click', '.close_type_modal', function(){
        
         $("#myModal2").hide();
        
    });
    
    $(document).on('click', '.sheep_size_edit', function(e){
        
        e.preventDefault();
        var size_edit_id = $(this).data('id');
        var size_name = $(this).data('name');
        $("#size_name_modal").val(size_name);
         $("#size_id_modal").val(size_edit_id);
        $("#myModal").show();
        
    });
    
    $(document).on('click', '.edit_sheep_type', function(e){
        
        e.preventDefault();
        var type_edit_id = $(this).data('id');
        var type_name = $(this).data('name');
        $("#type_name_modal").val(type_name);
         $("#type_id_modal").val(type_edit_id);
        $("#myModal2").show();
        
    });
    
    $(document).on('click', '.modal_update_size', function(){
        
        var inputs = [];
        
        var size_name_modal=   $("#size_name_modal").val();
         var size_id_modal = $("#size_id_modal").val();
            $.ajax({
                    type: "POST",
                    url: 'setting/updatesize?size_id='+size_id_modal+'&size_name='+size_name_modal+'',
                    contentType: false,
                    processData: false,
                    data:inputs,
               }).done(function(data){
                    if(data.success){
                         toastr.success(data.message, 'Success');
                         $("#size_name_modal").val('');
                         $("#size_id_modal").val('');
                         $("#myModal").hide();
                        // var table1 = $('#user_list1');
                        // table1(1).draw();
                    }else{
                        toastr.error(data.message, 'Error');
                        return false;
                    }
              });
        
    });
    
    
    $(document).on('click', '.modal_update_type', function(){
        
         var type_name_modal=   $("#type_name_modal").val();
         var type_id_modal = $("#type_id_modal").val();
        
            $.ajax({
                    type: "POST",
                    url: 'setting/updatetype?size_id='+type_id_modal+'&type_name='+type_name_modal+'',
                    contentType: false,
                    processData: false,
                    data:{},
               }).done(function(data){
                    if(data.success){
                         toastr.success(data.message, 'Success');
                         $("#type_name_modal").val('');
                         $("#type_id_modal").val('');
                         $("#myModal2").hide();
                         setTimeout(function(){location.reload();}, 2000)
                        // var table1 = $('#user_list1');
                        // table1(1).draw();
                    }else{
                        toastr.error(data.message, 'Error');
                        return false;
                    }
              });
    });
    
    $(document).on('click', '.sheep_size_delete', function(e){
        
            e.preventDefault();
            var delete_id = $(this).data('id'); 
      
            $.ajax({
                    type: "POST",
                    url: 'setting/deletesize?delete_id='+delete_id+'',
                    contentType: false,
                    processData: false,
                    data:{},
               }).done(function(data){
                    if(data.success){
                         toastr.success(data.message, 'Success');
                        setTimeout(function(){location.reload();}, 2000)
                    }else{
                        toastr.error(data.message, 'Error');
                        return false;
                    }
              });
    });
    
    
        $(document).on('click', '.sheep_type_delete', function(e){
        
            e.preventDefault();
            var delete_id = $(this).data('id'); 
      
            $.ajax({
                    type: "POST",
                    url: 'setting/deletetype?delete_id='+delete_id+'',
                    contentType: false,
                    processData: false,
                    data:{},
               }).done(function(data){
                    if(data.success){
                         toastr.success(data.message, 'Success');
                        setTimeout(function(){location.reload();}, 2000)
                    }else{
                        toastr.error(data.message, 'Error');
                        return false;
                    }
              });
    });

});
</script>

