<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <a href="javascript:void(0);" translate="usermanage"></a>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            <a href="javascript:void(0);" translate="edit_users_button"></a>
            <i class="fa fa-circle"></i>
        </li>
    </ul>
</div>
<div class="row margin-top-20">
    <div class="col-md-12">
        <div class="portlet light portlet-fit portlet-datatable bordered">
            <div class="portlet-title">
                <div class="caption">
                    <span class="caption-subject font-green sbold uppercase" translate="edit_users_button"></span>
                </div>
                <div class="actions xs-filter">
                </div>
            </div>
            <div class="portlet-body form">
                <form class="form-horizontal" name="addnew_product" id="add_new_user">
                    <input type="hidden" name="user_id" value="[[edituserdetails.id]]">
                    <div class="form-body">
                        <div class="form-group">
                            <label class="col-md-3 control-label" translate="user_name"></label>
                            <div class="col-md-5">
                                <input type="text" class="form-control" name="user_name" id="user_name" value="[[edituserdetails.name]]" placeholder="Name">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label" translate="email_address"></label>
                            <div class="col-md-5">
                                <input type="text" class="form-control" name="email_address" id="email_address" value="[[edituserdetails.email_address]]" placeholder="Email address">
                            </div>
                        </div>
<!--
                        <div class="form-group">
                            <label class="col-md-3 control-label" translate="password"></label>
                            <div class="col-md-5">
                                <input type="text" class="form-control" name="password" id="password" placeholder="Password">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label" translate="confirm_password"></label>
                            <div class="col-md-5">
                                <input type="text" class="form-control" name="confirm_password" id="confirm_password" placeholder="Confirm Password">
                                
                            </div>
                        </div>
-->
                        <div class="form-group">
                            <label class="col-md-3 control-label" translate=""></label>
                            <div class="col-md-5">
                                <label class="checkbox"><input type="checkbox" name="is_super_admin" value="1" ng-checked="edituserdetails.admin_type == 1" ng-model="selectAll">Is Super admin?  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="javascript:;" data-toggle="tooltip" title="Note: This is Super admin rights. If you give this right to this user then they can access all the module of the Admin panel. If you want to give particular module's rights then leave this option as blank."><i class="fa fa-info"></i></a></label>
                            </div>
                        </div>
                        <hr>
                        <div class="form-group">
                            <label class="col-md-3 control-label" translate=""></label>
                            <div class="col-md-5">
                                    <label class="checkbox"><input type="checkbox" name="is_completed_admin" value="1" ng-checked="edituserdetails.is_completed_admin == 1  || selectAll"> Can access Completed Orders?</label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label" translate=""></label>
                            <div class="col-md-5">
                                    <label class="checkbox"><input type="checkbox" name="is_today_admin" value="1" ng-checked="edituserdetails.is_today_admin == 1  || selectAll">  Can access Todays Orders?</label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label" translate=""></label>
                            <div class="col-md-5">
                                    <label class="checkbox"><input type="checkbox" name="is_all_order_admin" value="1" ng-checked="edituserdetails.is_all_order_admin == 1  || selectAll"> Can access All Orders?</label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label" translate=""></label>
                            <div class="col-md-5">
                                    <label class="checkbox"><input type="checkbox" name="is_product_admin" value="1" ng-checked="edituserdetails.is_product_admin == 1  || selectAll"> Can access Product?</label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label" translate=""></label>
                            <div class="col-md-5">
                                    <label class="checkbox"><input type="checkbox" name="is_bank_admin" value="1" ng-checked="edituserdetails.is_bank_admin == 1  || selectAll"> Can access Bank?</label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label" translate=""></label>
                            <div class="col-md-5">
                                    <label class="checkbox"><input type="checkbox" name="is_inquiry_admin" value="1" ng-checked="edituserdetails.is_inquiry_admin == 1  || selectAll"> Can access Inquiry?</label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label" translate=""></label>
                            <div class="col-md-5">
                                    <label class="checkbox"><input type="checkbox" name="is_users_admin" value="1" ng-checked="edituserdetails.is_users_admin == 1 || selectAll"> Can access Users?</label>
                            </div>
                        </div>
                        
                        <div class="form-actions">
                            <div class="row">
                                <div class="col-md-offset-4">
                                    <button type="submit" class="btn btn-green" translate="edit_users_button"><i class="fa fa-save"></i></button>
                                     <button type="submit" class="btn btn-default" translate="clear"><i class="fa fa-close"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <!-- End: life time stats -->
    </div>
</div>
<!-- END CONTAINER -->
<script>
    $(document).ready(function(){
        
        var original;
        setTimeout(function(){
            original = $(".img-responsive").attr('src');
        }, 1000);
    

    //Update Image,Name,Email
    var AdminProfileForm = $('#add_new_user');
        var error2 = $('.alert-danger', AdminProfileForm);
        var success2 = $('.alert-success', AdminProfileForm);
        AdminProfileForm.validate({
            errorElement: 'span', //default input error message container
            errorClass: 'help-block help-block-error', // default input error message class
            focusInvalid: false, // do not focus the last invalid input
            ignore: "", // validate all fields including form hidden input
            rules: {
                user_name: {
                    required: true
                },
                email_address:{
                    required : true,
                    remote: { url:"usermanage/checkemailexist",
                             type: 'POST',
                             data: { email_address: function () { return $("#email_address").val(); } },
                             async:false }
                },
                password:{
                    required : true
                },
                confirm_password:{
                   required : true, equalTo : "#password"
                }
            },
            messages: {
                user_name: {
                    required: "Name required."
                },
                email_address: {
                    required: "Email address required.",
                    remote: "This email is already exists. Please choose with another one."
                },
                password: {
                    required : "Password required."
                },
                confirm_password:{
                    required: "Confirm Password required."
                }
            },
            invalidHandler: function(event, validator) { //display error alert on form submit              
                success2.hide();
                error2.show();
                //App.scrollTo(error2, -200);
            },
            errorPlacement: function (from, error) { // render error placement for each input type
                error.parent(".input-group").size() > 0 ? from.insertAfter(error.parent(".input-group")) : error.attr("data-error-container") ? from.appendTo(error.attr("data-error-container")) : error.parents(".radio-list").size() > 0 ? from.appendTo(error.parents(".radio-list").attr("data-error-container")) : error.parents(".radio-inline").size() > 0 ? from.appendTo(error.parents(".radio-inline").attr("data-error-container")) : error.parents(".checkbox-list").size() > 0 ? from.appendTo(error.parents(".checkbox-list").attr("data-error-container")) : error.parents(".checkbox-inline").size() > 0 ? from.appendTo(error.parents(".checkbox-inline").attr("data-error-container")) : from.insertAfter(error)
            },
            highlight: function(element) { // hightlight error inputs
                $(element).closest('.form-group > div').removeClass("has-success").addClass('has-error'); // set error class to the control group   
            },
            submitHandler: function(form) {
                success2.show();
                error2.hide();
             
                //Submit data with ajax
                var formData = new FormData($("#add_new_user")[0]);
                $.ajax({
                    type: "POST",
                    url: 'usermanage/edituser',
                    contentType: false,
                    processData: false,
                    data: formData,
               }).done(function(data){
                    if(data.success){
                        toastr.success(data.message, 'Success');
                          
                        setTimeout(function(){
                               window.location = 'manage/usermanage'; 
                        }, 2000);
                       // $('#addnew_product')[0].reset();
                        //$('.user-image').attr('src', '');
                    }else{
                        toastr.error(data.message, 'Error');
                        return false;
                    }
              });
            //submit data with ajax end
            }
        });
        
});
</script>