<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <a href="javascript:void(0);" translate="order"></a>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            <a href="javascript:void(0);" translate="order_details"></a>
            <i class="fa fa-circle"></i>
        </li>
    </ul>
</div>
<div class="row margin-top-20">
    <div class="col-md-12">
        <div class="portlet light portlet-fit portlet-datatable bordered">
            <div class="portlet-title">
                <div class="caption">
                    <span class="caption-subject font-green sbold uppercase" translate="order_details"></span>
                    
                </div>
                <div class="actions xs-filter">
                    <a href="javascript:;" class="btn btn-green" ng-show="orderdetails.is_paid == 1">Paid</a>
                    <a href="javascript:;" class="btn red-haze" ng-show="orderdetails.is_complete == 1">Completed</a>
                </div>
            </div>
            <div class="portlet-body form">
                    <ul class="nav nav-tabs">
                                        <li class="active">
                                            <a data-target="#tab_1_1" data-toggle="tab"> Order information </a>
                                        </li>
                                        <li>
                                            <a data-target="#tab_1_2"   data-toggle="tab"> Commnents </a>
                                        </li>
                    </ul>
                        <div class="tab-content">
                                        <div class="tab-pane fade active in" id="tab_1_1">
                                                <!-- Form start -->

                                                    <form class="form-horizontal" name="update_order" id="update_order">
                                                            <div class="form-body">
                                                            <div class="form-group">
                                                                    <label class="col-md-3 control-label" translate="order_id"></label>
                                                                    <div class="col-md-5">
                                                                        <input type="hidden" name="order_id" id="order_main_id" value="[[orderdetails.order_id]]">
                                                                        <input type="text" class="form-control" id="order_main_id" name="order_main_id" value="[[orderdetails.order_id]]" readonly>
                                                                    </div>
                                                            </div>
                                                            <div class="form-group">
                                                                    <label class="col-md-3 control-label" translate="address"></label>
                                                                    <div class="col-md-5">
                                                                    <input type="text" class="form-control" name="address" value="[[orderdetails.address]]">
                                                                    </div>
                                                            </div>
                                                            <div class="form-group">
                                                                    <label class="col-md-3 control-label" translate="application_price"></label>
                                                                    <div class="col-md-2">
                                                                        <input type="text" class="form-control calculate" name="app_price" id="app_price"  value="[[orderdetails.app_price]]" placeholder="Application price">
                                                                      </div>
                                                                    <lable class="col-md-1 control-label" translate="">Cost</lable>
                                                                    <div class="col-md-2">
                                                                        <input type="text" class="form-control calculate" name="cost" id="cost"  value="[[orderdetails.cost]]" placeholder="Cost">
                                                                    </div>
                                                            </div>
                                                                <div class="form-group">
                                                                     <label class="col-md-3 control-label" translate="">Net Profit</label>
                                                                    <div class="col-md-5">
                                                                        <input type="text" class="form-control" name="" id="profit"  value="[[orderdetails.profit]]" placeholder="Profit" readonly>
                                                                    </div>
                                                                </div>
                                                            <div class="form-group">
                                                                    <label class="col-md-3 control-label" translate="city"></label>
                                                                    <div class="col-md-5">
                                                                    <input type="text" class="form-control" name="city" value="[[orderdetails.city]]">
                                                                    </div>
                                                            </div>
                                                            <div class="form-group">
                                                                    <label class="col-md-3 control-label" translate="email_address"></label>
                                                                    <div class="col-md-5">
                                                                    <input type="text" class="form-control" name="email_address" value="[[orderdetails.email]]">
                                                                    </div>
                                                            </div>
                                                            <div class="form-group">
                                                                    <label class="col-md-3 control-label" translate="gross_total"></label>
                                                                    <div class="col-md-5">
                                                                    <input type="text" class="form-control" name="grand_total" value="[[orderdetails.grand_total]]">
                                                                    </div>
                                                            </div>
                                                            <div class="form-group">
                                                                    <label class="col-md-3 control-label" translate="inq_name"></label>
                                                                    <div class="col-md-5">
                                                                    <input type="text" class="form-control" name="name" value="[[orderdetails.name]]">
                                                                    </div>
                                                            </div>
                                                            <div class="form-group">
                                                                    <label class="col-md-3 control-label" translate="number"></label>
                                                                    <div class="col-md-5">
                                                                    <input type="text" class="form-control" name="number" value="[[orderdetails.number]]">
                                                                    </div>
                                                            </div>
                                                            <div class="form-group">
                                                                    <label class="col-md-3 control-label" translate="payment_type"></label>
                                                                    <div class="col-md-5" ng-show="orderdetails.payment_type == 1">
                                                                        <input type="text" class="form-control" name="" value="Bank Transfer" readonly>
                                                                    </div>
                                                                    <div class="col-md-5" ng-show="orderdetails.payment_type == 2">
                                                                        <input type="text" class="form-control" name="payment_type" value="Cash" readonly>
                                                                    </div>
                                                            </div>
                                                            
                                                            </hr>
                                                            <div class="caption" style="text-align: center;">
                                                                <span class="caption-subject font-green sbold uppercase ng-scope" translate="">Cart Items (2)</span>
                                                            </div>
                                                            <div class=""  ng-repeat="order_l in order_options track by $index" style="border-top: 1px solid #eef1f5;">
                                                            <input type="hidden" name="oreder_option_id[]" value="[[order_l.oreder_option_id]]">

                                                               <div class="form-group" style="margin-top: 10px;">
                                                                     <label class="col-md-3 control-label" translate="id"></label>
                                                                    <div class="col-md-5">
                                                                            <input type="text" class="form-control" name="product_id[]" value="[[order_l.product_id]]" readonly>
                                                                    </div>
                                                                </div>
                                                               
                                                               <div class="form-group" style="margin-top: 10px;">
                                                                     <label class="col-md-3 control-label" translate="product_name"></label>
                                                                    <div class="col-md-5">
                                                                            <input type="text" class="form-control" name="product_name[]" value="[[order_l.product_name]]" readonly>
                                                                    </div>
                                                                </div>
                                                               
                                                               <div class="form-group">
                                                                    <label class="col-md-3 control-label" translate="product_image"></label>
                                                                        <div class="col-md-8">
                                                                            <div class="form-control-static col-md-8">
                                                                                <img src="[[order_l.product_image]]" class="img-responsive user-image">
                                                                            </div>
                                                                        </div>
                                                                </div>
                                                               
                                                               <div class="form-group" style="margin-top: 10px;">
                                                                     <label class="col-md-3 control-label" translate="quantity"></label>
                                                                    <div class="col-md-5">
                                                                            <input type="text" class="form-control" name="quantity[]" value="[[order_l.quantity]]">
                                                                    </div>
                                                                </div>
                                                               
                                                               <div class="form-group" style="margin-top: 10px;">
                                                                     <label class="col-md-3 control-label" translate="product_size"></label>
                                                                    <div class="col-md-5">
                                                                            <input type="text" class="form-control" name="product_size[]" value="[[order_l.sheep_size]]" readonly>
                                                                    </div>
                                                                </div>
                                                               
                                                               <div class="form-group" style="margin-top: 10px;">
                                                                     <label class="col-md-3 control-label" translate="sheep_type"></label>
                                                                    <div class="col-md-5">
                                                                            <input type="text" class="form-control" name="sheep_type[]" value="[[order_l.sheep_type]]" readonly>
                                                                    </div>
                                                                </div>
                                                                   <input type="hidden" name="total_lables[]" value="[[$index]]">
                                                                   <div class="form-group" ng-repeat="opt in order_l.option">
                                                                        <label class="col-md-3 control-label"> [[ opt.lable ]] </label>
                                                                        <div class="col-md-2 hide">
                                                                                <input type="text" class="form-control" name="lable_[[$parent.$index]][]" value="[[opt.lable]]" readonly>
                                                                        </div>
                                                                        <div class="col-md-2">
                                                                                <input type="text" class="form-control" name="option_[[$parent.$index]][]" value="[[opt.options]]">
                                                                        </div>
                                                                        <div class="col-md-2">
                                                                                <input type="text" class="form-control" name="price_[[$parent.$index]][]" value="[[opt.price]]">
                                                                        </div>
                                                                   </div>
                                                            </div>
                                                            
                                                            <div class="form-group">
                                                                    <label class="col-md-3 control-label" translate="gross_total"></label>
                                                                    <div class="col-md-5">
                                                                        <input type="text" class="form-control" name="grand_total" value="[[orderdetails.grand_total]]">
                                                                    </div>
                                                            </div>
                                                            <div class="form-actions">
                                                                <div class="row">
                                                                    <div class="col-md-offset-4">
                                                                        <button type="submit" class="btn btn-green" translate="update_order"><i class="fa fa-save"></i></button>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </form>

                                                <!--- Form end -->

                                        </div>
                                         <div class="tab-pane fade" id="tab_1_2">
                                                        <div class="" id="chats">
                                                                <div id="div1" style=" height: 400px;">
                                                                        <div class="chatinner" style="height:399px; overflow:auto;" data-always-visible="1" data-rail-visible1="1">
                                                                            <ul class="chats">
                                                                                <li tabindex="[[$index + 1]]" ng-class="cc.user_id == cc.main_user ? 'out' : 'in'" ng-repeat="cc in commentslist[0] track by $index  | orderBy:'-'">
                                                                                    <img class="avatar" alt="" src="[[cc.profile_image]]" />
                                                                                    <div class="message">
                                                                                        <span class="arrow"> </span>
                                                                                        <a href="javascript:;" class="name"> [[cc.name]] </a>
                                                                                        <span class="datetime"> at [[cc.created_on ]] </span>
                                                                                        <span class="body"> [[cc.comment]] </span>
                                                                                    </div>
                                                                                </li>
                                                                            </ul>
                                                                        </div>

                                                                </div>
                                                                <div class="chat-form">
                                                                            <div class="input-cont">
                                                                                <input class="form-control" type="text" id="comment_box" placeholder="Type a message here..." /> 
                                                                            </div>
                                                                              <div class="btn-cont">
                                                                                <span class="arrow"> </span>
                                                                                <a href="javascript:;" class="btn blue icn-only" ng-click="insertComments()">
                                                                                    <i class="fa fa-check"></i>
                                                                                </a>
                                                                              </div>
                                                                        </div>
                                                        </div>
                                            </div>
                                        </div>
                                </div>
                    </div>
    </div>
    <!-- End: life time stats -->
</div>
</div>
<!-- END CONTAINER -->
<script type="text/javascript">
$(document).ready(function(){
    
     setTimeout(function (){
           $('#chats').scrollTop(0); 
     }, 1000);

    // To set the calculation.
    $(document).on('keyup', '.calculate', function(){
        
        var app_price = $("#app_price").val();
        var cost =  $('#cost').val();
        console.log(app_price + '-- '+ cost);
        if(typeof (app_price) != 'undefined' && typeof(cost) != 'undefined'){
            if(app_price != 0 && app_price !=''){
                var main_price = app_price - cost;
                $('#profit').val(main_price);
            }
        }
        
    });

    var AdminProfileForm = $('#update_order');
        var error2 = $('.alert-danger', AdminProfileForm);
        var success2 = $('.alert-success', AdminProfileForm);
        AdminProfileForm.validate({
            errorElement: 'span', //default input error message container
            errorClass: 'help-block help-block-error', // default input error message class
            focusInvalid: false, // do not focus the last invalid input
            ignore: "", // validate all fields including form hidden input
            rules: {
                sheep_type: {
                    required: true
                },
                product_size:{
                    required : true
                },
                'lable[]':{
                    required : true
                },
                'option[]':{
                    required : true
                },
                'price[]':{
                  required : true  
                }
            },
            messages: {
                sheep_type: {
                    required: "Sheep type required."
                },
                product_size:{
                    required: "Product size required."
                },
                'lable[]':{
                    required : "Lable required."
                },
                'option[]':{
                    required : "Option required."
                },
                'price[]':{
                    required : "Price required."
                }
            },
            invalidHandler: function(event, validator) { //display error alert on form submit              
                success2.hide();
                error2.show();
                //App.scrollTo(error2, -200);
            },
            errorPlacement: function (from, error) { // render error placement for each input type
                error.parent(".input-group").size() > 0 ? from.insertAfter(error.parent(".input-group")) : error.attr("data-error-container") ? from.appendTo(error.attr("data-error-container")) : error.parents(".radio-list").size() > 0 ? from.appendTo(error.parents(".radio-list").attr("data-error-container")) : error.parents(".radio-inline").size() > 0 ? from.appendTo(error.parents(".radio-inline").attr("data-error-container")) : error.parents(".checkbox-list").size() > 0 ? from.appendTo(error.parents(".checkbox-list").attr("data-error-container")) : error.parents(".checkbox-inline").size() > 0 ? from.appendTo(error.parents(".checkbox-inline").attr("data-error-container")) : from.insertAfter(error)
            },
            highlight: function(element) { // hightlight error inputs
                $(element).closest('.form-group > div').removeClass("has-success").addClass('has-error'); // set error class to the control group   
            },
            submitHandler: function(form) {
                success2.show();
                error2.hide();
                //Submit data with ajax
                var formData = new FormData($("#update_order")[0]);
                $.ajax({
                    type: "POST",
                    url: 'orders/updateorder',
                    contentType: false,
                    processData: false,
                    data: formData,
               }).done(function(data){
                    if(data.success){
                        toastr.success(data.message, 'Success');
                        location.reload();
                    } else{
                        toastr.error(data.message, 'Error');
                        return false;
                    }
              });
               //submit data with ajax end.
            }
        });
});

</script>