<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <a href="Users.html" translate=""></a>
            <i class="fa fa-university"></i> Edit Bank
        </li>
    </ul>
</div>

<div class="row">
  
        <div class="portlet light bordered dash-major-Details margin-top-20">
            <div class="portlet-title">
                <div class="caption">
                    <span class="caption-subject font-green bold uppercase" translate="">Edit Bank</span>
                </div>
                <div class="actions"></div>
            </div>
            <div class="row form">
                <form class="form-horizontal" name="addnew_product" id="addnew_product" >
                    <input type="hidden" value="[[bankdetails.id]]" id="bank_id" name="bank_id">
                        <div class="form-body">
                                    <div class="form-group">
                                        <label class="col-md-3 control-label" translate="bank_name"> Bank Name:</label>
                                        <div class="col-md-5">
                                            <input type="text" class="form-control" name="bank_name" id="bank_name" placeholder="Bank Name" value="[[bankdetails.name]]">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-3 control-label" translate="price"> Account Number</label>
                                        <div class="col-md-5">
                                            <input type="text" class="form-control" name="acc_num" id="acc_num" placeholder="Account Number" value="[[bankdetails.number]]">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-3 control-label" translate="product_photo">Bank Logo</label>
                                        <div class="col-md-5">
                                            <div class="form-control-static col-md-3">
                                                <div style="display:none">
                                                    <input type="file" name="bank_logo" id="bank_logo" style="display:none" data-error-container="#image-error" accept='image/x-png,image/jpeg' />
                                                                              
                                                </div>
                                                <div class="img-preview" style="height:100px;width:100px;cursor:pointer;" onclick="$('#bank_logo').click();">
                                                    <img src="uploads/product/[[bankdetails.imag_logo]]" class="img-responsive user-image">
                                                </div>
                                                <div>
                                                    <div id="image-error"></div>
                                                </div>                               
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-actions">
                                    <div class="row">
                                        <div class="col-md-offset-4">
                                            <button type="submit" class="btn btn-green" translate=""><i class="fa fa-save"></i> Update Bank</button>
                                             <button type="submit" class="btn btn-default" translate="clear"><i class="fa fa-close"></i></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
            </div>
            
        </div>

</div>

<script>
$(document).ready(function(){
    
    
    
      setTimeout(function(){
            original = $(".img-responsive").attr('src');
        }, 1000);
    
    //Image crope code
    $('#bank_logo').on('change', function () {
        
         $('#theImg').attr('src', '');
      
        $(".img-preview > img").attr('src', original);
        $(".img-preview > img").css('height', '100px');
        $(".img-preview > img").css('width', '100px');
        $(".img-preview > img").css('margin-left', '0px');
        $(".img-preview > img").css('margin-top', '0px');
        $(".img-preview > img").css('background-color', 'white');
        var input = $(this)[0];
        var file = input.files[0]; console.log(file);
        var reader = new FileReader();
        reader.onload = function (e)
        {
            $(".user-image").attr('src',  e.target.result);

            $('.img-preview').css('display', 'block');
        }
        reader.readAsDataURL(file);
    });
    
    //Update Image,Name,Email
    var AdminProfileForm = $('#addnew_product');
        var error2 = $('.alert-danger', AdminProfileForm);
        var success2 = $('.alert-success', AdminProfileForm);
        AdminProfileForm.validate({
            errorElement: 'span', //default input error message container
            errorClass: 'help-block help-block-error', // default input error message class
            focusInvalid: false, // do not focus the last invalid input
            ignore: "", // validate all fields including form hidden input
            rules: {
                bank_name: {
                    required: true
                },
                acc_num:{
                    required : true
                },
                bank_logo:{
                    accept: "image/jpg,image/jpeg,image/png"
                }
            },
            messages: {
                bank_name: {
                    required: "Product name required."
                },
                acc_num:{
                    required: "Price required."
                },
                bank_logo:{
                    accept: "Only jpg,jpeg,png allowed."
                }
            },
            invalidHandler: function(event, validator) { //display error alert on form submit              
                success2.hide();
                error2.show();
                //App.scrollTo(error2, -200);
            },
            errorPlacement: function (from, error) { // render error placement for each input type
                error.parent(".input-group").size() > 0 ? from.insertAfter(error.parent(".input-group")) : error.attr("data-error-container") ? from.appendTo(error.attr("data-error-container")) : error.parents(".radio-list").size() > 0 ? from.appendTo(error.parents(".radio-list").attr("data-error-container")) : error.parents(".radio-inline").size() > 0 ? from.appendTo(error.parents(".radio-inline").attr("data-error-container")) : error.parents(".checkbox-list").size() > 0 ? from.appendTo(error.parents(".checkbox-list").attr("data-error-container")) : error.parents(".checkbox-inline").size() > 0 ? from.appendTo(error.parents(".checkbox-inline").attr("data-error-container")) : from.insertAfter(error)
            },
            highlight: function(element) { // hightlight error inputs
                $(element).closest('.form-group > div').removeClass("has-success").addClass('has-error'); // set error class to the control group   
            },
            submitHandler: function(form) {
                success2.show();
                error2.hide();
                //Submit data with ajax
                var formData = new FormData($("#addnew_product")[0]);
                $.ajax({
                    type: "POST",
                    url: 'bank/editbank',
                    contentType: false,
                    processData: false,
                    data: formData,
               }).done(function(data){
                    if(data.success){
                        toastr.success(data.message, 'Success');
                        
                        setTimeout(function(){
                               window.location = 'manage/banklisting'; 
                        }, 2000);
                        
                        //$('#addnew_product')[0].reset();
                       // $('.user-image').attr('src', '');
                    }else{
                        toastr.error(data.message, 'Error');
                        return false;
                    }
              });
            //submit data with ajax end
            }
        });
    
    
    
})

</script>