<div class="page-bar">

    <ul class="page-breadcrumb">

        <li>

            <a href="javascript:void(0);" translate="usermanage"></a>

            <i class="fa fa-circle"></i>

        </li>

    </ul>

</div>

<div class="row margin-top-20">

    <div class="col-md-12">

        <div class="portlet light portlet-fit portlet-datatable bordered">

            <div class="portlet-title">

                <div class="caption">

                    <span class="caption-subject font-green sbold uppercase" translate="usermanage"></span>

                </div>
                <div class="actions xs-filter">
                    <a href="manage/addnewuser" class="btn btn-green">

                    <i class="fa fa-plus"></i>

                    <span translate="add_new_user"></span>

                </a>
                </div>
            </div>

            <div class="portlet-body">

                <div class="table-container">

                    <div id="datatable_orders_wrapper" class="dataTables_wrapper dataTables_extended_wrapper no-footer">

                        <div class="row">

                            <div class="col-md-6 col-sm-6 col-xs-12">

                                <div class="table-group-actions  meamber-search">

                                    <div class="input-icon">

                                        <i class="fa fa-search font-green"></i>

                                        <input type="text" class="form-control input-large" placeholder="Search By Name" id="users_search"> </div>

<!--

                                            <button class="btn btn-green table-group-action-submit">

                                                Search

                                            </button>

-->

                                </div>    

                            </div>



                            <div class="col-md-6 col-sm-6 col-xs-12">

                                <div class="table-group-actions pull-right ">

                                    <span></span>

                                    <label class="table-group-action-input input-inline" style="margin-bottom:0px;" translate="export_to"></label>

                                    <select class="table-group-action-input form-control input-small input-inline " id="export_from">

                                        <option value="1" selected translate="excel">Excel</option>

                                        <option value="2">PDF</option>

                                    </select>

                                    <button class="btn btn-green inline" id="download_files"><i class="fa fa-download"></i></button>

                                </div>

                            </div>



                        </div>

                     <div class="table-scrollable margin-top-20" >

                            <table class="table table-striped table-bordered table-hover" id="user_list">

                                <thead>

                                    <tr>

                                        <th translate="user_id"></th>

                                        <th translate="user_name"></th>

                                        <th translate="email_address"></th>

                                        <th translate="admin_type"></th>

                                        <th translate="action"></th>

                                    </tr>

                                </thead>

                                <tbody>

                                   

                                </tbody>

                            </table>

                        </div>

<!--

                        <div class="row">

                            <div class="col-md-8 col-sm-12">

                                <div class="dataTables_paginate paging_bootstrap_extended">

                                    <div class="pagination-panel"> Page <a href="#" class="btn btn-sm default prev disabled"><i class="fa fa-angle-left"></i></a>

                                        <input type="text" class="pagination-panel-input form-control input-sm input-inline input-mini" maxlength="5" style="text-align:center; margin: 0 5px;">

                                        <a href="#" class="btn btn-sm default next"><i class="fa fa-angle-right"></i></a> of <span class="pagination-panel-total">18</span>

                                    </div>

                                </div>

                                <div class="dataTables_length">

                                    <label><span class="seperator">|</span>View

                                        <select name="datatable_orders_length" aria-controls="datatable_orders" class="form-control input-xs input-sm input-inline">

                                            <option value="10">10</option>

                                            <option value="20">20</option>

                                            <option value="50">50</option>

                                            <option value="100">100</option>

                                            <option value="150">150</option>

                                            <option value="-1">All</option>

                                        </select> records</label>

                                </div>

                                <div class="dataTables_info"><span class="seperator">|</span>Found total 178 records</div>

                            </div>

                            <div class="col-md-4 col-sm-12"></div>

                        </div>

-->

                    </div>

                </div>

            </div>

        </div>

        <!-- End: life time stats -->

    </div>

</div>

<!-- END CONTAINER -->

<script src='assets/lib/datatables/datatable.min.js'></script>

<script src='assets/lib/datatables/plugins/bootstrap/datatables.bootstrap.js'></script>





<script>

    $(document).ready(function(){ 



        $(document).on('click', '#download_files', function(){

            var export_var = $("#export_from").val();

            if(export_var == 1){

                window.location.href = base_url + 'orders/generatecompleteordercsv';
            }

            if(export_var == 2){
                //getGeneratecompleteorderpdf
               window.location.href = base_url + 'orders/generatecompleteorderpdf';
            }

        });

        

        var table = $('#user_list');
            
            // begin first table

            var userList_table = $('#user_list').dataTable({

                // Internationalisation. For more info refer to http://datatables.net/manual/i18n

                "processing": false,

                "serverSide": true,

                'bAutoWidth': false,

                "ajax": {

                    'type': 'POST',

                    'url': base_url+"usermanage/alluserlist",

                    'data': function(params){

                        params.roles_ids = $("#role_users").val();

                    }

                },

                "language": {

                    "aria": {

                        "sortAscending": ": activate to sort column ascending",

                        "sortDescending": ": activate to sort column descending"

                    },

                    "emptyTable": "No record (s) available.",

                    "info": "Found _START_ to _END_ of _TOTAL_ records",

                    "infoEmpty": "No records found",

                    "infoFiltered": "(filtered1 from _MAX_ total records)",

                    "lengthMenu": "View _MENU_ records",

                    "search": "Search:",

                    "zeroRecords": "No matching records found",

                    "paginate": {

                        "previous":"Prev",

                        "next": "Next",

                        "last": "Last",

                        "first": "First"

                    }

                },    

                "dom": "<'row'<'col-md-6 col-sm-12'><'col-md-6 col-sm-12'>r>t<'row'<'col-md-3 col-sm-12'l><'col-md-4 col-sm-12'i><'col-md-5 col-sm-12 text-right'p>>",

                "bStateSave": false, // save datatable state(pagination, sort, etc) in cookie.

                "columns": [

                {"data": "id","name":"id"},                                      

                {"data": "name","name":"name","searchable": true},

                {"data": "email_address", "name":"email_address"},

                {"data": "admin_type","name":"admin_type"},

                {"data": "action","name":"action","searchable": true}

                ],    

                ordering: true,

                "lengthMenu": [

                [10, 30, 50, -1],

                    [10, 30, 50, "All"] // change per page values here
                ],

                "pageLength": 10,            

                "pagingType": "bootstrap_full_number"

            });


            $("#role_users").change(function(){

                oTable.search($(this).val()).draw();

            });

            var oTable = $('#user_list').DataTable();

            // for searching from front user table.

            $('#users_search').keyup(function(){
                    oTable.search( $(this).val() ).draw();
            });
            
            // To delete the users.
            $(document).on('click', ".sheep_type_delete", function(e){
                
                e.preventDefault();
                var user_ids = $(this).data('id');
                    
                    $.ajax({
                        type: "POST",
                        url: 'usermanage/deleteuser?user_id='+user_ids,
                        contentType: false,
                        processData: false,
                      //  data: formData,
                   }).done(function(data){
                        if(data.success){
                            toastr.success(data.message, 'Success');

                            setTimeout(function(){
                                   window.location = 'manage/usermanage'; 
                            }, 2000);
                        }else{
                            toastr.error(data.message, 'Error');
                            return false;
                        }
                  });
            });
        });

    </script>