2<div class="page-bar">

    <ul class="page-breadcrumb">

        <li>

            <a href="javascript:void(0);" translate="new_orders"></a>

            <i class="fa fa-circle"></i>

        </li>

    </ul>

</div>

<div class="row margin-top-20">

    <div class="col-md-12">

        <div class="portlet light portlet-fit portlet-datatable bordered">

            <div class="portlet-title">

                <div class="caption">

                    <span class="caption-subject font-green sbold uppercase" translate="new_orders"></span>

                </div>

                <div class="actions xs-filter">

            </div>

        </div>

        <div class="portlet-body">

            <div class="table-container">

                <div id="datatable_orders_wrapper" class="dataTables_wrapper dataTables_extended_wrapper no-footer">

                    <div class="row">

                        <div class="col-md-6 col-sm-6 col-xs-12">

                            <div class="table-group-actions  meamber-search">

                                <div class="input-icon">

                                    <i class="fa fa-search font-green"></i>

                                    <input type="text" class="form-control input-large" placeholder="Search By Name" id="users_search"> </div>

                                </div>    

                            </div>

                            <div class="col-md-6 col-sm-6 col-xs-12">

                                <div class="table-group-actions pull-right ">

                                    <span></span>

                                    <label class="table-group-action-input input-inline" style="margin-bottom:0px;" translate="export_to"></label>

                                    <select class="table-group-action-input form-control input-small input-inline " id="export_from">

                                        <option value="1" selected translate="excel">Excel</option>

                                        <option value="2">PDF</option>

                                    </select>

                                    <button class="btn btn-green inline" id="download_files"><i class="fa fa-download"></i></button>

                                </div>

                            </div>

                        </div>

                        <div class="table-scrollable margin-top-20" >

                            <table class="table table-striped table-bordered table-hover" id="user_list">

                                <thead>

                                    <tr>

                                        <th translate="order_id"></th>

                                        <th translate="inq_name"></th>

                                        <th translate="delivery_address"></th>

                                        <th translate="city"></th>

                                        <th translate="payment_type"></th>

                                        <th translate="quantity"></th>
                                          <th translate="gross_total"></th>

                                        <th translate="action" style="width: 30%;"></th>

                                    </tr>

                                </thead>

                                <tbody>

                                </tbody>

                            </table>

                        </div>

                    </div>

                </div>

            </div>

        </div>

        <!-- End: life time stats -->

    </div>

</div>

<!-- END CONTAINER -->

<script src='assets/lib/datatables/datatable.min.js'></script>

<script src='assets/lib/datatables/plugins/bootstrap/datatables.bootstrap.js'></script>



<script>

    $(document).ready(function(){



        $(document).on('click', '#download_files', function(){

            var export_var = $("#export_from").val();

            if(export_var == 1){

                window.location.href = base_url + 'orders/generatecsv';

            }

            if(export_var == 2){

               window.location.href = base_url + 'orders/generatepdf';

           }

        });

        var table = $('#user_list');

            // begin first table

            var userList_table = $('#user_list').dataTable({

                // Internationalisation. For more info refer to http://datatables.net/manual/i18n

                "processing": false,

                "serverSide": true,

                'bAutoWidth': false,

                "ajax": {

                    'type': 'POST',

                    'url': base_url+"orders/allnewordersdata",

                    'data': function(params){

                        params.roles_ids = $("#role_users").val();

                    }

                },

                "language": {

                    "aria": {

                        "sortAscending": ": activate to sort column ascending",

                        "sortDescending": ": activate to sort column descending"

                    },

                    "emptyTable": "No record (s) available.",

                    "info": "Found _START_ to _END_ of _TOTAL_ records",

                    "infoEmpty": "No records found",

                    "infoFiltered": "(filtered1 from _MAX_ total records)",

                    "lengthMenu": "View _MENU_ records",

                    "search": "Search:",

                    "zeroRecords": "No matching records found",

                    "paginate": {

                        "previous":"Prev",

                        "next": "Next",

                        "last": "Last",

                        "first": "First"

                    }

                },    

                "dom": "<'row'<'col-md-6 col-sm-12'><'col-md-6 col-sm-12'>r>t<'row'<'col-md-3 col-sm-12'l><'col-md-4 col-sm-12'i><'col-md-5 col-sm-12 text-right'p>>",

                "bStateSave": false, // save datatable state(pagination, sort, etc) in cookie.

                "columns": [

                {"data": "order_id","name":"order_id", "orderable": true, "searchable": false},

                {"data": "name","name":"name","searchable": true,"orderable": true},

                {"data": "address", "name":"address", "orderable": true, "searchable": false},

                {"data": "city","name":"city", "orderable": true, "searchable": false},

                {"data": "payment_type","name":"payment_type", "orderable": true, "searchable": false},

                {"data": "total_qty","name":"total_qty", "orderable": true, "searchable": false},
                {"data": "grand_total","name":"grand_total", "orderable": true, "searchable": false},

                {"data": "view_order","name":"view_order", "orderable": false, "searchable": false}



                ],    

                ordering: true,

                "lengthMenu": [

                [10, 30, 50, -1],

                    [10, 30, 50, "All"] // change per page values here

                    ],

                // set the initial value

                "pageLength": 10,            

                "pagingType": "bootstrap_full_number"

            });



            $("#role_users").change(function(){

                oTable.search($(this).val()).draw();

            });



            var oTable = $('#user_list').DataTable();

            // for searching from front user table.

            $('#users_search').keyup(function(){

             oTable.search( $(this).val() ).draw();

         });



        });

    $(document).on('click', '.complete_order', function(){

                var t = $(this);

                var order_id = $(this).attr('data-bind');

                $.ajax({

                    url: base_url + 'orders/completeorder',

                    type: 'POST',

                    data: {order_id:order_id},

                    async: false,

                    success: function (data) {

                        if (data.success)

                        {

                            toastr.success(data.message, 'Success');

                            t.closest('tr').fadeOut("slow");

                        }

                        else

                        {

                            toastr.error(data.message, 'Error');

                            return false;

                        }

                    }

                });

            });

        $(document).on('click', '.cancel_order', function(){

                var t = $(this);

                var order_id = $(this).attr('data-bind');

                $.ajax({

                    url: base_url + 'orders/cancelorder',

                    type: 'POST',

                    data: {order_id:order_id},

                    async: false,

                    success: function (data) {

                        if (data.success)

                        {

                            toastr.success(data.message, 'Success');

                            t.closest('tr').fadeOut("slow");

                        }

                        else

                        {

                            toastr.error(data.message, 'Error');

                            return false;

                        }

                    }

                });

            });

    </script>