<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <a href="javascript:void(0);" translate="order"></a>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            <a href="javascript:void(0);" translate="order_details"></a>
            <i class="fa fa-circle"></i>
        </li>
    </ul>
</div>
<div class="row margin-top-20">
    <div class="col-md-12">
        <div class="portlet light portlet-fit portlet-datatable bordered">
            <div class="portlet-title">
                <div class="caption">
                    <span class="caption-subject font-green sbold uppercase" translate="order_details"></span>
                </div>
                <div class="actions xs-filter">
                </div>
            </div>
            <div class="portlet-body form">
                <form class="form-horizontal" name="addnew_product" id="addnew_product">
                    <div class="form-body">
                        <div class="form-group">
                            <label class="col-md-3 control-label" translate="order_id"></label>
                            <div class="col-md-5">
                                <label class="control-label">[[orderdetails.order_id]]</label>
                            </div>
                        </div>
<!--
                        <div class="form-group">
                            <label class="col-md-3 control-label" translate="sheep_type"></label>
                            <div class="col-md-5">
                                <label class="control-label">[[orderdetails.sheep_type]]</label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label" translate="product_size"></label>
                            <div class="col-md-5">
                                <label class="control-label">[[orderdetails.product_size]]</label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label" translate="product_name"></label>
                            <div class="col-md-5">
                                <label class="control-label">[[orderdetails.product_name]]</label>
                            </div>
                        </div>
-->
<!--
                        <div class="form-group">
                            <label class="col-md-3 control-label" translate="quantity"></label>
                            <div class="col-md-5">
                                <label class="control-label">[[orderdetails.quantity]]</label>
                            </div>
                        </div>
-->
<!--
                        <div class="form-group">
                            <label class="col-md-3 control-label" translate="product_image"></label>
                            <div class="col-md-8">
                                <div class="form-control-static col-md-8">
                                    <img src="[[orderdetails.product_image]]" class="img-responsive user-image">
                                </div>
                            </div>
                        </div>
-->
                        <div class="form-group">
                            <label class="col-md-3 control-label" translate="amount"></label>
                            <div class="col-md-5">
                                <label class="control-label">[[orderdetails.grand_total]] SAR</label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label" translate="payment_status"></label>
                            <div class="col-md-5" ng-if="orderdetails.is_paid == 0">
                                <label class="control-label" translate="unpaid"></label>
                            </div>
                            <div class="col-md-5" ng-if="orderdetails.is_paid == 1">
                                <label class="control-label" translate="paid"></label>
                            </div>
                        </div>
                        
                    </div>
                    <hr>
                       
                    <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-3" style="text-align: center;">
                                    <span class="control-label bold" translate="no"></span>
                                </div>
                                <div class="col-md-3">
                                    <span class="control-label bold" translate="lable"></span>    
                                </div>                                
                                    <div class="col-md-3"><span class="control-label bold" translate="option"></span></div>
                                    <div class="col-md-3"><span class="control-label bold" translate="price"></span></div>
                            </div>
                        </div>
                   
                    <div class="form-group" ng-repeat="ht in order_options track by $index">
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-3" style="text-align: center;">
                                    <span class="control-label">[[$index + 1]]</span>
                                </div>
                                <div class="col-md-3">
                                    <span class="control-label">[[ht.lable]]</span>    
                                </div>
                                <div class="col-md-3">
                                    <span class="control-label">[[ht.options]]</span>    
                                </div>
                                <div class="col-md-3">
                                    <span class="control-label">[[ht.price]]</span>    
                                </div>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <!-- End: life time stats -->
</div>
</div>
<!-- END CONTAINER -->