<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <a href="javascript:void(0);"> Products</a>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            <a href="javascript:void(0);"> Product Detail</a>
            <i class="fa fa-circle"></i>
        </li>
    </ul>
</div>
<div class="row margin-top-20">
    <div class="col-md-12">
        <div class="portlet light portlet-fit portlet-datatable bordered">
            <div class="portlet-title">
                <div class="caption">
                    <span class="caption-subject font-green sbold uppercase"> Product Detail </span>
                </div>
                <div class="actions xs-filter">
                </div>
            </div>
            <div class="portlet-body form">
                <form class="form-horizontal" name="addnew_product" id="addnew_product">
                    <div class="form-body">
                        <div class="form-group">
                            <label class="col-md-3 control-label">Product Name:</label>
                            <div class="col-md-5">
                                <label class="control-label">[[productetails.product_name]]</label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">Price:</label>
                            <div class="col-md-5">
                                <label class="control-label">[[productetails.price]]</label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">Product photo:</label>
                            <div class="col-md-5">
                                <div class="form-control-static col-md-3">
                                        <img src="[[productetails.product_image]]" class="img-responsive user-image">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="form-group" ng-repeat="ht in productetails.lable_data track by $index" id="remove_div_[[$index]]">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="col-md-6" style="padding-left: 50px; padding-top: 8px;">Option [[$index + 1]]</div>
                                    <div class="col-md-6">
                                        <label class="control-label">[[ht.lable]]</label>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div ng-repeat="op in ht.option_data">
                                        <div class="col-md-12">
                                            <div class="col-md-6"><span>[[op.lable_price]]</span></div>
                                            <div class="col-md-6"><span>[[op.lable_option]]</span></div>    
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <!-- End: life time stats -->
    </div>
</div>
<!-- END CONTAINER -->