@charset "utf-8";
/* CSS Document */

.page-header.navbar {
    background-color: #ffffff;
    box-shadow: 0px 0px 1px 0px #c3c3c3;
}
.page-header.navbar .page-logo .logo-default {
       margin: 8px 0 0;
    width: 150px;
}
body {
    background-color: #2d2d2d;
}
/*============dashbord===============*/
.dashboard-stat .details{position:relative; left:0px; right:0px; padding-right:0px;}
.dashboard-stat .visual{     display: block;
    height: auto;
    margin-bottom: 0px;
    padding: 0px;
    position: absolute;
    top: 34px;
    right: 5px;}
.dashboard-stat .details .user-category{font-size:12px; text-align:left;}
.dashboard-stat .desc{font-size: 20px;
     }
.dashboard-stat .details .number{  font-size: 30px; padding-top:0px; text-align:left;     margin-top: 5px;}
.dashboard-stat{padding:10px;}
.dashboard-stat .pev-month-incres-count{font-weight:700;  font-size:12px;     margin-top: 10px}
.dataTables_extended_wrapper .table.dataTable{margin-top:0px !important;}
.R_green
{
 background-color:#01b69f;
 color:#fff;
}
.page-header.navbar .menu-toggler.sidebar-toggler {
    float: right;
    margin: 19px 0 0;
}
.user-login-5 .login-container>.login-content>.login-form .forgot-password>a:hover,
.user-login-5 .login-container>.login-footer .login-social a:hover,
.page-sidebar .page-sidebar-menu>li:hover>a,
.page-sidebar .page-sidebar-menu>li:hover>a>i
  {
    color: #01b69f;
   }
.caption .font-green {
    color: #464646!important;
}
.btn.green:not(.btn-outline) {
    color: #FFF;
    background-color: #5d5d5d;
    border-color: #5d5d5d;}
 .btn.green:not(.btn-outline).active.focus, .btn.green:not(.btn-outline).active:focus,
 .btn.green:not(.btn-outline).active:hover,
 .btn.green:not(.btn-outline):active.focus,
 .btn.green:not(.btn-outline):active:focus,
 .btn.green:not(.btn-outline):active:hover,
 .open>.btn.green:not(.btn-outline).dropdown-toggle.focus,
 .open>.btn.green:not(.btn-outline).dropdown-toggle:focus,
 .open>.btn.green:not(.btn-outline).dropdown-toggle:hover,
 .btn.green:not(.btn-outline).active, 
 .btn.green:not(.btn-outline).focus,
 .btn.green:not(.btn-outline):active,
 .btn.green:not(.btn-outline):focus,
 .btn.green:not(.btn-outline):hover,
 .open>.btn.green:not(.btn-outline).dropdown-toggle
{  background-color: #68C743;
   border-color: #68C743;}

 
.dashboard-stat {
               background: #f5f5f5 !important;
			   border-bottom: 4px solid #01b69f;
			   }
	.dashboard-stat .more {
			padding: 2px 10px;
			background-color:#68C743;
			}
.margin-top-20
	{
	 margin-top:20px !important;
	 }  
	 .margin-left-10
	{
	 margin-left:10px;
	 } 
.margin-bottom15{
	 margin-bottom:15px !important;
	 }  
/*Summery Details*/

.summary-details{
    display: inline-block;
    background-color: #f5f5f5;
    width: 13.50%;
    padding: 6px;
    border-bottom: 4px solid #01b69f;
    margin: 0px 2px;
	    min-height: 90px;
		cursor: pointer;
	}
.summary-details .sm-Title{ text-align: center;
    margin: 10px 0px 0px;
 }	
.summary-details .sm-value{    
 text-align: center;
        margin: 3px 0px 0px;
    font-size: 18px;}	
	.month-summry .summary-details .sm-Title {
		text-align: right;
		margin: 5px 5px 0px;
		font-size: 14px;
	}
	 .month-summry .summary-details .sm-value {
		  text-align: right;
		  margin: 3px 12px 0px;
		  font-size: 20px;
	  }
	  .sm-value .visual-icon{color: #01b69f;
    font-size: 32px;}
	.week-sm{ width:100%;}
	
	
.portlet>.portlet-title>.actions>.btn,
 .portlet>.portlet-title>.actions>.btn-group>.btn,
  .portlet>.portlet-title>.actions>.btn-group>.btn.btn-sm,
   .portlet>.portlet-title>.actions>.btn.btn-sm,
   .portlet>.portlet-title>.actions>.btn.btn-default {
    padding: 6px 10px;
    font-size: 11px;
    line-height: 1.5;
}
.weekly-summary  .portlet-title>.caption>.caption-subject{font-size:12px !important;}
.populer-gym table tr th:last-child, .populer-gym table tr td:last-child{text-align:center; width:34%;}
.Earned-point table tr th:last-child, .Earned-point table tr td:last-child{text-align:center;}
.populer-gym .table.table-light>tbody>tr>td{border-bottom:none;}
.social-summary .number{
	    padding: 34px 29px;
    text-align: center;
    font-size: 29px;
    margin: 0px auto;
       width: 110px;
    height: 110px;
    border-radius: 50% !important;
    -webkit-border-radius: 50% !important;
    -moz-border-radius: 50% !important;
    -ms-border-radius: 50% !important;
    -o-border-radius: 50% !important; }


	.social-summary .facebook .number{  border:2px solid #3b5998; cursor: pointer;}
	.social-summary .Instagram .number{  
	background: url(../img/instagram.png) !important;
    background-size: cover;
    width: 110px;
    height: 110px;
	cursor: pointer;
	    }
	.portlet.light {
    padding: 15px;}	
	.social-summary .Twitter .number{  border:2px solid #00aced; cursor: pointer;}
	.social-summary .caption{text-align: center;
							  font-size: 22px;
							  padding: 7px 0px;}
	.feeds-dash .scroller-footer { margin-top: 19px;}

	.feeds-dash	.feed-icon{color: #01b69f;}	
	.populer-gym-dash{min-height:537px;}
	
	.dash-major-Details .details .desc{   font-size: 17px;
    margin-top: 9px;}	
	.Reward-setting .dash-major-Details .details .desc{   font-size: 16px;
    margin-top: 9px;}

	.page-header.navbar .top-menu .navbar-nav>li.dropdown .dropdown-toggle .badge.badge-default {
    background-color: #01b69f;
    color: #fff;
}
.page-header.navbar .top-menu .navbar-nav>li.dropdown .dropdown-toggle:hover, .page-header.navbar .top-menu .navbar-nav>li.dropdown.open .dropdown-toggle {
    background-color: #fff;
}		
[class^="iconrm-"], [class*="iconrm-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.iconrm-dumrm-new{	color: #6b788b;
    font-size: 16px;}

.page-sidebar .page-sidebar-menu>li.active.open>a, .page-sidebar .page-sidebar-menu>li.active>a, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li.active.open>a, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li.active>a {
   background: #ffffff;
    border-top-color: transparent;
    color: #8e8d8d;
    border-left: 6px solid #01b69f;
}
.page-sidebar .page-sidebar-menu>li.active.open>a:hover, .page-sidebar .page-sidebar-menu>li.active>a:hover, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li.active.open>a:hover, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li.active>a:hover {
    background: #ffffff;
    color: #8a8a8a !important;
}
.member-details .visual{width:100%; min-height:50px; height:50px;}
.member-details .details{position:relative;     padding: 8px 18px;}
.member-details .details .number{padding-top:0px;}
.member-details .details .desc{margin-top:0px;}
/*.dashboard-stat .details .number { font-size: 22px;}*/

.btn-green{color: #fff;
    background-color: #01b69f;
    border-color: #01b69f;
	transition:all 200ms linear;
	-webkit-transition:all 200ms linear;
	-moz-transition:all 200ms linear;
	-ms-transition:all 200ms linear;
	-o-transition:all 200ms linear;}
.btn-green:hover{ background-color:#087F70; color:#E4E1E1; border-color:#087F70;} 	
.table.dataTable tr.heading>th{vertical-align:middle;}
table .label-success {
    background-color: #5fbb3c;
	text-transform:uppercase;
}
table .label-danger{text-transform:uppercase;}

table .label.label-sm{font-size:12px;}
.page-sidebar .page-sidebar-menu>li.active.open>a>.arrow.open:before, .page-sidebar .page-sidebar-menu>li.active.open>a>.arrow:before, .page-sidebar .page-sidebar-menu>li.active.open>a>i, .page-sidebar .page-sidebar-menu>li.active>a>.arrow.open:before, .page-sidebar .page-sidebar-menu>li.active>a>.arrow:before, .page-sidebar .page-sidebar-menu>li.active>a>i, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li.active.open>a>.arrow.open:before, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li.active.open>a>.arrow:before, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li.active.open>a>i, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li.active>a>.arrow.open:before, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li.active>a>.arrow:before, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li.active>a>i	
{color:#01b69f;}
.form-horizontal .checkbox, .form-horizontal .checkbox-inline, .form-horizontal .radio, .form-horizontal .radio-inline
{padding-top:3px;}
.mt-radio-inline{margin-top:6px;}
.upload-img {position:relative;}
.upload-img img{max-width:231px; max-height:231px; width:100%}
.upload-btn{position:absolute; bottom:0px; left:0px; right:0px;}
.upload-btn p{    margin: 0px;
    background: rgba(0,0,0,0.4);
    padding: 8px 4px;
    text-align: center;
    color: #fff;
	transition:0.3 all linear;
	}
	.upload-btn p:hover{
		color:#01b69f;
		}
	.member-img img{    
    width: 100%;
    max-height: 130px;
    max-width: 130px;
    //border-radius: 50% !important;
	}
	.member-img .member-name{     font-size: 13px;
    text-align: center;
    margin: 10px 0px; }
	.member-img .member-name span{margin:0px 10px;}
	.member-img{position:relative; text-align:center;}
	.member-img .member-name{    position: absolute;
    bottom: 53px;
    width: 100%;
    background: rgba(0, 0, 0,0.5);
    padding: 6px 0px;
    color: #fff;}
	.btn-success {
    color: #fff;
    background-color: #01b69f;
    border-color: #01b69f;
}
.member-img .btn-success{ padding:5px 34px;}
.btn-success.active,
.btn-success.focus,
.btn-success:active, 
.btn-success:focus,
.btn-success:hover,
.open>.btn-success.dropdown-toggle {
    color: #fff;
    background-color: #21a2ad;
    border-color: #21a2ad;
}

.member-details-form .form-group label:last-child{text-align:left;}
.member-details-form .form-group label:first-child{position:relative;     font-weight: 600;}
 .form-group .coln-right{    position: absolute;
    top: 7px;
    right: 0px;}
	.ms-sharing label.mt-radio {    font-size: 16px;
    margin-right: 27px;}
	.ms-sharing label.mt-radio:nth-child(1){color:#3b5998; font-weight:600 !important;}
		.ms-sharing label.mt-radio:nth-child(2){color:#8a3ab9;}
			.ms-sharing label.mt-radio:nth-child(3){color:#00aced;}
	#calendar .fc-view-container:last-child, #calendar .fc-view-container + .fc-toolbar{display:none;}


	a {
		text-shadow: none;
		color: #006cca;
	}
	.sub-text {
    font-size: 13px;
    }
	.form .form-actions {
    padding: 10px 10px;}
	.btn.btn-outline.green.active,
	 .btn.btn-outline.green:active,
	  .btn.btn-outline.green:active:focus,
	   .btn.btn-outline.green:active:hover,
	    .btn.btn-outline.green:focus,
		 .btn.btn-outline.green:hover {
    border-color: #01b69f;
    color: #FFF;
    background-color: #01b69f;
}
.btn.btn-outline.green {
    border-color: #5d5d5d;
    color: #5d5d5d;
    background: 0 0;
}
.sh-details label.mt-radio {
   font-size: 15px;
    margin-right: 9px;
    font-weight: 600;
}

.box-green{background-color:#01b69f; padding: 5px 12px;  margin-right: 10px;}
.box-gey{    background-color: #5d5d5d;
    padding: 5px 12px;
    margin-right: 10px;}
.reward-wk-amount{position: absolute;
    top: 42%;
    transform: rotate(-90deg);
	-webkit-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
    font-size: 21px;
    left: -48px;}
	.page-header.navbar .page-logo{background-color:#222931; height: 65px;}
	.page-header.navbar{height: 65px;}
	.page-sidebar, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover {
   		 background-color: #2d2d2d;
		}
	.page-sidebar .sidebar-search .input-group .form-control, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .sidebar-search .input-group .form-control {
    background-color: #2d2d2d;
    color: #4e5c6f;
}	
.page-sidebar .page-sidebar-menu>li>a, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li>a {
    border-top: 1px solid #383838;
    color: #b4bcc8;
}
.dashboard-stat .visual>i {
    margin-left: 0px;
    font-size: 40px;
    line-height: 50px;
    color: #01b69f;
}
.graph-add{    position: absolute;
    right: 0px;
    font-size: 15px;
    line-height: 35px;
    top: 24%;}
	.graph-add .title{    padding-left: 34px;
    font-weight: 600;
    font-size: 17px;}
	.page-content-wrapper .page-content {
   		padding: 50px 20px 10px;
     }
	 .ms-sharing .form-group{margin-bottom:0px;}
	 .populer-gym  table tr{border-bottom:1px solid #efefef !important;}
	 .graph-add .box-green{    background-color: #01b69f;
    padding: 0px 12px;
    margin-right: 10px; }
	 .graph-add .box-gray{    background-color: #fdd400;
    padding: 0px 12px;
    margin-right: 10px; }
	.calender-week .fc-basic-view{width:50% !important; margin:auto}
	.portlet.calendar .fc-button .fc-icon-left-single-arrow, .portlet.calendar .fc-button .fc-icon-right-single-arrow {
    
    display: inline-flex;
}
.portlet.calendar .fc-event{display:none;}
#calendar .fc-widget-content{ height:51px !important;}
.fa-invited{
	text-align: center;
    position: relative;
    bottom: -8px;
    width: 100%;
	}
	.sh-details .form-group label:first-child{ font-weight:normal;}
	.sh-details .form-group{margin-bottom:15px;}
	.dash-major-Details .table>tbody>tr>td,.dash-major-Details .table>tbody>tr>th,.dash-major-Details .table>tfoot>tr>td,
	.dash-major-Details .table>tfoot>tr>th,
	.dash-major-Details .table>thead>tr>td, .dash-major-Details .table>thead>tr>th {
			padding: 4px 16px;
			line-height: 1.42857;
			vertical-align: top;
			border-top: 1px solid #e7ecf1;
	}
.notify-form .mt-radio{margin-right:8px;}
.fillter-notify{
				  padding: 10px;}
	.or-mid{font-size:14px;}
	.margin-bottom-0{margin-bottom:0px;}
	.margin-top-0{margin-top:0px;}
	.margin-left-25{margin-left:25px;}
	.staff-detail-tbl  tr>td:first-child,
	.staff-detail-tbl tr>th:first-child{max-width: inherit; }
	.ad-new-stm{display:none;
	transition:all 200ms linear;
	-webkit-transition:all 200ms linear;
	-moz-transition:all 200ms linear;
	-ms-transition:all 200ms linear;
	-o-transition:all 200ms linear; 
	}
	.ad-new-stm .form-inline{ padding-bottom:20px;}
	.ad-new-stm .form-inline .form-group{width:25%;}
	.ad-new-stm .form-inline .form-group input{width:95%;}
	.ad-new-stm .form-inline .form-group select{width:95%;}
	
	.puch-notification{     min-height: 413px;}
	.iconrm-dumrm-new{font-size: 19px;
        top: 3px;
    color: #6b788b;
    position: relative;}
	.fliter-bym .btn{ border-radius:0px !important;}
	.fliter-bym .dropdown-menu{ width:400px;}	
	.tabbable-line>.nav-tabs>li.active {
   		 background: 0 0;
   		 border-bottom: 4px solid #01b69f;
   		 position: relative;
	}
	.tabbable-line>.nav-tabs>li.open, .tabbable-line>.nav-tabs>li:hover {
    background: 0 0;
    border-bottom: 4px solid #c6f9b2;
}
.margin-top-5{margin-top:5px;}
.table td a.btn-sm{ padding:4px 8px;
   }
.mt-comments .mt-comment {
    padding: 10px;
    margin: 0 0 10px;
}
.reward .mt-comment{padding:10px; display:inline-block; min-height:150px;}
.reward .mt-sy-comment-img{ position:relative;
 background-image:url(../../../../assets/pages/img/security-badge.jpg); background-size:cover; background-repeat:no-repeat}
.mt-sy-comment-img .mt-cooment-symbol{   
	position: absolute;
    top: 25px;
    left: 10px;
    color: #fff;
    font-size: 16px;
    font-weight: 700;}
	.reward .mt-sy-comment-img{height:72px; width:60px; margin:auto; text-align:center;}
	.mt-comments .mt-comment .mt-comment-img {
		width: 90px;
		float: left;
	   
	}
	.mt-comments .mt-comment .mt-comment-body {
		padding-left: 20px;
		position: relative;
		overflow: hidden;
	}

.mt-comments .mt-comment .mt-comment-body .mt-comment-text {
    color: #999;
}
.mt-comments .mt-comment .mt-comment-body .mt-comment-details {
    margin: 10px 0 0;
	
}
.mt-comments .comment-title{    text-align: center;
    color: #5d5d5d;
    font-weight: 700;
    margin-top: 10px;
	font-size:16px;}
.text-green{color:#01b69f;}
.mt-sy-comment-img i{    position: relative;
    top: 25px;
    font-size: 24px;
    color: #fff;}	
.add-img img{width:100%;}	
.feedbacks .mt-comments	.mt-comment{ padding: 0px 10px;     margin-bottom: 0px;}
.feedbacks .mt-comments .mt-comment .mt-comment-img{ width:40px;}
.feedbacks .mt-comments .mt-comment .mt-comment-img img{border-radius:50% !important; -webkit-border-radius:50% !important;}
.feedbacks .mt-comments .mt-comment-author{font-size:16px; color: #111;}
.feedbacks .mt-comments .mt-comment-palce{font-size:14px;}
.feedbacks .tools a{    font-size: 24px;
    color: #9c9c9c;
	}
.feedbacks .tools{ padding: 10px 15px 13px !important; margin-top:0px !important;}
.cursour{cursor:pointer;}
.feedbacks .feed-comments .feedb-title .badge{background-color: #01b69f;}
.feedbacks .feed-comments .feedb-title{color: #2d2d2d;}
.feedbacks .feed-comments .feed-date{font-size:13px; color:#C9C9C9 }
.feedbacks .feed-comments .audio-icon a{    color: #676766;
    font-size: 18px;
    position: relative;
    top: 3px;
    font-size: 20px;}
.feedbacks .feed-list li{        border: 1px solid #e7ecf1;
    background: #f3f3f3;
    padding: 3px 7px;
    margin-bottom: 5px;

}
.feedbacks .feed-list li.active{ border: 1px solid #01b69f;
    background: #fff;}
.feedbacks .feed-list li.unread{ font-weight:600px;}
.h-r-divide{ border-right:1px solid #d8d8d8; }
.feedbacks .feed-list ul{padding-right:30px; }   
.feedbacks .feed-details {
    border: 1px solid #01b69f;
	    padding: 10px;
}
.audio-btn{       font-size: 20px;
    color: #5d5d5d;
    display: inline-block;
   			 }
.feed-form-desc .form-actions{padding:0px; border:0px;}

/*UNDeal user*/

.input-icon{display:inline-block;}
.rating-star{ color:#3fc9d5;}
.chat-scroll .scroller {overflow-y:scroll !important;}
.chat-panle .panel-title .date{color: #828384;}

.panel-default>.panel-heading{background-color:#fff; color:#01b69f;}
.chat-scroll .chats li.out .message .arrow,.chat-scroll .chats li.in .message .arrow {
  
    top: 36%;
}
.chat-scroll  .chats li .message {
    padding: 10px 25px;
}
.chat-scroll .chats li.out .message {
    border-right: 0px solid #F3565D;
    background: #d2f3ee;
  	color: #1d1d26;
	border-radius: 50px !important;
	    margin-bottom: 15px;
}

.chat-scroll .chats li.out .message .arrow {
      right: -7px;
    border-left: 8px solid #d2f3ee;
}
.chat-scroll .chats li.out .message {
    display: inline-block;
   position: relative;
    float: right;
	max-width: 80%;
}
.chat-scroll .chats li {
   display: block;
    clear: both;
}

.chat-scroll .chats li.out .message{margin-right:0px;}
.chat-scroll .chats li.in .message{
	display: inline-block;
    position: relative;
    float: left;
	    border-radius: 50px !important; 
		margin-left:0px;
		border-left:0px;
		    background: #f3f3f3;
			margin-bottom:15px;
			max-width: 80%;
			}
.chat-scroll .chats li.in .message .arrow {
    left: -7px;
   border-right: 8px solid #f3f3f3;
}

.chat-scroll .chats li .datetime{color: #9e9e9e;}
.chat-panle .arrow-angle{font-size:20px; color:#3fc9d5;}
.carousel-inner .active.left { left: -25%; }
.carousel-inner .next        { left:  25%; }
.carousel-inner .prev		 { left: -25%; }
.carousel-control 			 { width:  4%; }
.carousel-control.left,.carousel-control.right {margin-left:15px;background-image:none;}
.btn.focus, .btn:focus{
    color: #fff;
    text-decoration: none;
}
.btn-default.focus, .btn-default:focus{color: #333; }

#owl-demo .item{
  margin: 3px;
}
#owl-demo .item img{
  display: block;
  width: 100%;
  height: auto;
}
.mediafile .modal-body img{max-height: 250px; display: inline-block; margin: 0px 40px;}
.modal-title{color:#1eaee0; font-weight: 600;  font-size: 16px;}
.modal-title i{color:#333; margin-right: 10px;}
.mediafile .modal-body .btn-info{    border-radius: 50% !important;
    font-size: 21px;
    padding: 0px 11px;
    background-color: rgba(80, 142, 219,0.6);
    border: none;}
#jobs_listing .modal-dialog{width: 70%}
/*===================Responsive css=====================*/


@media only screen and (max-width: 1325px) {
		.fillter-notify{}
			
	
		.month-summry .summary-details .sm-Title {
   
    margin: 5px 0px 0px;
    font-size: 12px;
}
.summary-details {
  
    width: 13.35%;}
	.week-sm{width:100%;}
		.weekly-summary  .portlet-title>.caption>.caption-subject{font-size:10px !important;}
		.weekly-summary .portlet>.portlet-title>.actions>.btn-group>.btn,
		.weekly-summary .portlet>.portlet-title>.actions>.btn-group>.btn.btn-sm
		{   padding: 4px 10px;
    		font-size: 10px;
         }
		.weekly-summary .summary-details .sm-Title{font-size:12px;}
		
		}
		
@media only screen and (max-width: 1200px) {
	.summary-details{width:24%; margin-bottom:10px;}
	.dashboard-stat .details .desc {  
    font-size: 13px;}
	.dashboard-stat .desc {
    font-size: 18px;
	}
	.dashboard-stat .pev-month-incres-count{font-size:11px;}
	.week-sm{ width:100%;}
	.meamber-search .input-large {
   		 width: 239px!important;
	}
	.download-file .input-small {
   		 width: 104px!important;
	}
	.weekly-summary  .portlet-title>.caption>.caption-subject{font-size:13px !important;}
		.weekly-summary .portlet>.portlet-title>.actions>.btn-group>.btn,
		.weekly-summary .portlet>.portlet-title>.actions>.btn-group>.btn.btn-sm
		{   padding: 4px 5px;
    		font-size: 14px;
         }
		.weekly-summary .summary-details .sm-Title{font-size:14px;}
		.month-summry .summary-details .sm-Title {
   
    font-size: 15px;
}
	
	
	
}
@media only screen and (max-width: 991px) {
	.meamber-search .input-large {
  			 width: 228px!important;
		}
		.sm-margin-top-10{margin-top:20px;}
		
		.page-header.navbar .page-logo{background:rgba(0,0,0,0)}
		
	
}

	
@media only screen and (max-width: 767px) {
	.fliter-bym .dropdown-menu {
    width: 264px;
}


	.summary-details{width:100%; margin-bottom:10px;}
	.week-sm{ width:100%;}
	.meamber-search .input-large,.meamber-search button  {
  			 width: 100%!important;
			 margin-bottom:10px;
		}
		.download-file .input-small {
    width: 103px!important;
}
.download-file a{    font-size: 11px;
    padding: 8.5px 9px;
    margin-bottom: 10px;
}
.upload-img img{width:100%; max-height:100%; max-width:100%;}
.member-img {
    position: relative;
  
    margin: 0px auto;
}
.member-img img{ max-height:100%; max-width:100%;}
.download-file-px{margin-bottom:10px;}
.xs-btn-block{width:100%;}	
.ad-new-stm .form-inline{margin-top:10px;} 
.btn{padding: 6px 8px; font-size:12px;}
.ad-new-stm .form-inline .form-group{width:100%;}
.ad-new-stm .form-inline .xs-btn-block{ float:none; margin-bottom:20px;}
.prmc{ display:inline-block; float:left;}
.xs-margin-bottom-10{margin-bottom:10px !important;}
.meamber-search .input-icon{display:block;}
.chat-scroll .chats li.out .message, .chat-scroll .chats li.in .message{width:70%;}
.xs-filter .btn-group,.xs-filter .btn-group .table-group-actions, .xs-filter .btn-group .table-group-actions select, .xs-filter {width:100% !important;}
.btn-group .table-group-actions select{margin-bottom:15px;}
.xs-filter a{width:49%;}
.ad-new-stm .form-inline .form-group input, .ad-new-stm .form-inline .form-group select{width:100%;}

}

	
	
